# 변경 X

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
import time

In [2]:
BASE_URL = "https://movie.naver.com"
SEARCH = "/movie/search/result.naver?query="
POINT_SEARCH = "/movie/bi/mi/point.naver?code="

In [3]:
movie_df = pd.DataFrame(columns=['code', 'korean_title', 'english_title', 'genre_list', 'country', 'released_date', 'director', 'actors'])

In [4]:
def html_parser(url):
    req = requests.get(url)
    return req.text

In [5]:
def html_selector(html, query):
    soup = BeautifulSoup(html, 'html.parser')
    return soup.select(query)

In [6]:
def get_point_url(code):
    return html_parser(BASE_URL + POINT_SEARCH + str(code))

# 영화 정보 크롤링

code, 한국 제목, 장르, 국가, 개봉일(null값있음), director, actors(의미없는 값 있음)

개봉일과 actors는 1.5만 데이터에서도 확인할 수 있으므로 더 이상 디테일은 잡지 않았습니다.

ENG_TITLE_LIST에 영화 제목들을 담아주시면 되는데, 띄어쓰기는 모두 replace 또는 strip으로 없애주세요!

대소문자는 상관없습니다.

In [7]:
def get_movie_info(search_title):
#     print(search_title)
    try:
        search_html = html_parser(BASE_URL + SEARCH + search_title)
        search_result = html_selector(search_html, '.search_list_1 > li')
        # 가장 첫 번째로 나온 결과만을 가져감
        result = str(search_result[0].select('dl > dt > a'))
    except:
        return 'error'

    movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
    code = movie_url.split('=')[1]

    basic_html = html_parser(BASE_URL + movie_url)

    search_result = html_selector(basic_html, 'h3.h_movie > a')
    title = str(search_result[0]).split('>')[1].split('<')[0]

    movie_result = html_selector(basic_html, 'dl.info_spec > dd')
    temp_summary = movie_result[0].select('a')
    director = movie_result[1].text
    actors = movie_result[2].text.split(',')
    
    genre_list = list()
    nation_list = list()
    released = list()
    for summary in temp_summary:
        c = summary.attrs['href'].split(".naver?")[1].split('=')[0]

        if c == 'genre':
            genre_list.append(summary.text)
        elif c == 'nation':
            nation_list.append(summary.text)
        elif c == 'open':
            released.append(summary.text)
        else:
            print(c)
    
    return {'code': code, 'korean_title': title, 'english_title': search_title, 'genre_list': genre_list, 'country': nation_list, 'released_date': ''.join(released), 'director': director, 'actors': actors}

In [9]:
# 예시
ENG_TITLE_LIST = ['kingsman', 'spiderman', 'HOWTOBUILDAGIRL', 'Centigrade', 'LetsFightGhost', 'Moxie']

In [10]:
'''
print로 나온 친구들은 크롤링에 실패한 아이들입니다. 무슨 이유인지 간혹 있더라구요.
목록 다시 넘겨주시면 이유를 제가 다시 한 번 확인해보겠습니다!
'''
for eng_title in ENG_TITLE_LIST:
    result = get_movie_info(eng_title)
    if result == 'error':
        print(eng_title)
    else:
        movie_df = movie_df.append(result, ignore_index=True)

LetsFightGhost

In [11]:
movie_df

,code,korean_title,english_title,genre_list,country,released_date,director,actors
0,159893,킹스맨: 퍼스트 에이전트,kingsman,[액션],"[영국, 미국]",2021.12.22,매튜 본,"[랄프 파인즈(옥스포드 공작), 해리스 딕킨슨(콘래드)더보기]"
1,31307,스파이더맨,spiderman,"[액션, SF, 모험, 스릴러]",[미국],2002.05.03,샘 레이미,"[토비 맥과이어(스파이더맨/피터 파커), 윌렘 대포(그린 고블린/노먼 오스본), ..."
2,188910,하우 투 빌드 어 걸,HOWTOBUILDAGIRL,[코미디],[영국],,코키 지드로익,"[비니 펠드스타인, 패디 콘시딘, 사라 솔매니더보기]"
3,201848,센티그레이드,Centigrade,"[스릴러, 드라마]",[캐나다],,브렌던 월쉬,[\n\r\n\t\t\t\t\t\t[국내] \r\n\t\t\t\t\t\t\r\n\t...
4,203096,걸스 오브 막시,Moxie,[드라마],[미국],,에이미 포엘러,"[조세핀 랭포드, 패트릭 슈왈제네거더보기]"

# 네티즌 평점 크롤링

movie_df에서 가져온 code를 기준으로 다시 평점 데이터를 받아옴

아직 미개봉 영화에 대해서는 모두 NaN으로 처리

`code`: 영화코드(str)

`num_of_netizen`: 평가에 참여한 네티즌의 수(str)

`key_review`: 한 줄 리뷰(str)

`score_male`: 남자 평점(str)

`score_female`: 여자 평점(str)

`scores_per_age`: 나이별 평점(float list) (10대, 20대, 30대, 40대, 50대 이상 순)

In [12]:
def get_review_info(code, classification):
    
    idx = 1 if classification == 'audience' else 0
    point_url = get_point_url(code)
    
    try:
        elements = html_selector(point_url, f'.grade_{classification} > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
        score = elements[0].attrs['style'].split(':')[1]
    except:
        return 'error'

    num = html_selector(point_url, f'.grade_{classification} > .title_area.grade_tit > .sc_area > .user_count > em')[0].text
    
    
    # key_review가 없는 경우 index out of range 에러가 뜨길래 수정했습니다.
    try:
        key_review = html_selector(point_url, '.grp_review')[0].text
    except:
        key_review = None
        
    male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[idx].text
    female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[idx].text
    score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[idx*5:(idx+1)*5]]
    
    result = {'code': code, f'num_of_{classification}': num, 'key_review': key_review, 'score_male': male, 'score_female': female, 'scores_per_age': score_list}
    
    if classification == 'audience':
        num_per_ages = [element.attrs['style'].split(': ')[1] for element in html_selector(point_url, '.bar_graph > .graph_box > .graph > span')[:5]]
        result['num_per_ages'] = num_per_ages

    return result

In [13]:
netizen_df = movie_df[['code', 'korean_title']].copy()
netizen_df

     code   korean_title
0  159893  킹스맨: 퍼스트 에이전트
1   31307          스파이더맨
2  188910    하우 투 빌드 어 걸
3  201848         센티그레이드
4  203096       걸스 오브 막시

In [14]:
data = netizen_df['code'].apply(lambda x: get_review_info(x, 'netizen') if get_review_info(x, 'netizen') != 'error' else 'error').tolist()
data = list(filter(lambda x: x != 'error', data))
temp_df = pd.DataFrame(data, columns=['code', 'num_of_netizen', 'key_review', 'score_male', 'score_female', 'scores_per_age'])
netizen_df = pd.merge(netizen_df, temp_df, how='outer', on='code')
netizen_df

,code,korean_title,num_of_netizen,key_review,score_male,score_female,scores_per_age
0,159893,킹스맨: 퍼스트 에이전트,"2,928",이 영화는 30대 남성이 좋아하는 연기가 뛰어난 영화입니다.,8.06,8.69,"[8.25, 8.16, 8.4, 8.1, 8.73]"
1,31307,스파이더맨,"1,754",이 영화는 10대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,8.96,9.03,"[9.04, 8.93, 9.1, 8.78, 8.73]"
2,188910,하우 투 빌드 어 걸,NaN,NaN,NaN,NaN,NaN
3,201848,센티그레이드,NaN,NaN,NaN,NaN,NaN
4,203096,걸스 오브 막시,140,이 영화는 20대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,6.12,9.86,"[9.76, 9.83, 8.92, 9.38, 10.0]"

# 관람객 평점

네티즌 평점과 동일하고, 추가사항이 있음

`num_per_ages`: 나이대 별 관람객 수 비율(10대, 20대, 30대, 40대, 50대 이상 순)

`num_per_genders`: 성별 별 관람객 수 비율 (남자, 여자 순)

In [15]:
audience_df = movie_df[['code', 'korean_title']].copy()
audience_df

     code   korean_title
0  159893  킹스맨: 퍼스트 에이전트
1   31307          스파이더맨
2  188910    하우 투 빌드 어 걸
3  201848         센티그레이드
4  203096       걸스 오브 막시

In [16]:
data = audience_df['code'].apply(lambda x: get_review_info(x, 'audience') if get_review_info(x, 'audience') != 'error' else 'error').tolist()
data = list(filter(lambda x: x != 'error', data))
temp_df = pd.DataFrame(data, columns=['code', 'num_of_audience', 'key_review', 'score_male', 'score_female', 'scores_per_age', 'num_per_ages'])
audience_df = pd.merge(audience_df, temp_df, how='outer', on='code')
audience_df

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_ages
0,159893,킹스맨: 퍼스트 에이전트,675,이 영화는 30대 남성이 좋아하는 연기가 뛰어난 영화입니다.,7.43,7.64,"[9.0, 7.71, 7.29, 7.47, 7.42]","[1%, 40%, 36%, 16%, 6%]"
1,31307,스파이더맨,NaN,NaN,NaN,NaN,NaN,NaN
2,188910,하우 투 빌드 어 걸,NaN,NaN,NaN,NaN,NaN,NaN
3,201848,센티그레이드,NaN,NaN,NaN,NaN,NaN,NaN
4,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
point_url = get_point_url(208077)
is_graph = html_selector(point_url, '.viewing_graph')
if not is_graph:
    pass
else:
    percent_list = html_selector(point_url, '.viewing_graph > .graph_wrap > .bar_graph > .graph_box > .graph_percent')
    print(list(map(lambda x: int(x.text.replace('%', '')), percent_list))[:5])

[5, 45, 35, 12, 3]

In [85]:
code_list = audience_df['code'].tolist()

In [66]:
code_list = [130267, 159146, 145376, 160720, 156930, 159785, 72058, 35901, 109905, 74027, 181030, 144271, 129012, 103331, 124212, 67769, 130041, 136007, 118917, 109955, 193839, 104478, 127865, 130983, 129331, 129049, 122469, 192121, 106557, 129333, 95541, 172819, 117802, 122596, 118980, 90596, 15899, 127335, 69956, 107352, 118950, 19303, 18781, 103708, 32686, 101961, 94187, 73318, 112039, 101236, 117790, 105521, 88426, 122535, 120123, 93739, 108225, 112079, 93028, 99096, 61101, 109778, 87309, 114249, 190727, 122473, 127321, 146212, 109982, 195970, 125841, 45290, 118909, 72524, 178654, 164115, 113377, 109095, 16792, 149248, 109169, 100676, 94829, 137908, 113348, 118397, 99740, 191929, 92075, 52555, 90589, 66158, 118367, 12787, 125438, 137327, 155411, 160749, 162824, 125494, 97631, 72054, 18878, 91192, 103765, 97858, 97612, 189150, 100691, 103324, 95203, 78726, 124290, 86335, 32667, 10546, 11031, 119457, 51777, 25670, 98279, 95334, 107923, 102648, 119412, 12918, 31565, 76020, 66464, 78845, 31940, 47321, 96031, 64686, 89757, 74610, 52515, 169643, 150688, 39809, 66091, 82283, 62586, 37439, 85141, 104426, 97692, 123630, 17159, 109193, 132626, 10002, 59075, 10003, 80219, 118966, 92069, 142201, 76651, 100643, 17173, 37937, 49336, 87556, 86843, 52553, 34225, 38227]

In [86]:
len(code_list)

1824

In [93]:
audience_genders = {}

driver = webdriver.Chrome(executable_path='./chromedriver')

for code in code_list[1235:]:
    driver.get(BASE_URL + POINT_SEARCH + str(code))
    time.sleep(1)
    html = driver.page_source
    bs = BeautifulSoup(html, 'html.parser')
    temp_genders = bs.find_all('tspan')
    if len(temp_genders) == 0:
        num_per_genders = np.nan
    else:
        num_per_genders = [element.text for element in temp_genders[:2]]
    audience_genders[code] = num_per_genders

In [94]:
audience_genders

{72058: ['12%', '88%'],
 10440: ['32%', '27%'],
 35901: ['65%', '35%'],
 150829: nan,
 152700: nan,
 109905: ['58%', '42%'],
 38420: ['27%', '21%'],
 31283: ['21%', '26%'],
 49857: ['34%', '20%'],
 137982: ['28%', '28%'],
 74027: ['52%', '48%'],
 40098: ['20%', '46%'],
 181030: ['58%', '42%'],
 19066: ['22%', '41%'],
 91107: nan,
 146184: nan,
 134584: nan,
 142370: nan,
 144271: ['67%', '33%'],
 119720: nan,
 68535: nan,
 83001: nan,
 80866: ['22%', '35%'],
 158347: ['0%', '0%'],
 154491: nan,
 61865: ['7%', '45%'],
 37758: ['29%', '17%'],
 129012: ['48%', '52%'],
 103331: ['30%', '70%'],
 124212: ['55%', '45%'],
 171549: nan,
 67769: ['58%', '42%'],
 99794: ['26%', '35%'],
 87232: ['24%', '37%'],
 73096: ['17%', '40%'],
 153343: nan,
 129824: nan,
 151867: nan,
 130041: ['29%', '71%'],
 152696: nan,
 136007: ['45%', '55%'],
 144141: nan,
 149382: nan,
 118917: ['46%', '54%'],
 154195: nan,
 103271: ['26%', '30%'],
 133443: nan,
 109955: ['46%', '54%'],
 10392: ['36%', '36%'],
 31683: ['9%', '36%'],
 105578: nan,
 73402: ['17%', '33%'],
 133421: nan,
 143370: ['23%', '50%'],
 193839: ['63%', '37%'],
 104478: ['60%', '40%'],
 149843: nan,
 149376: nan,
 129093: nan,
 166149: ['0%', '33%'],
 127865: ['54%', '46%'],
 147533: nan,
 102295: nan,
 146181: nan,
 97694: ['26%', '47%'],
 18098: ['27%', '15%'],
 134871: ['21%', '13%'],
 141579: nan,
 130983: ['36%', '64%'],
 134881: ['0%', '33%'],
 156495: ['27%', '33%'],
 129331: ['42%', '58%'],
 129049: ['56%', '44%'],
 122469: ['66%', '34%'],
 52449: ['29%', '28%'],
 65091: ['15%', '30%'],
 148971: nan,
 192121: ['50%', '50%'],
 106280: ['0%', '50%'],
 50598: ['26%', '23%'],
 162000: nan,
 106557: ['34%', '66%'],
 129333: ['59%', '41%'],
 95541: ['50%', '50%'],
 172819: ['30%', '70%'],
 117802: ['60%', '40%'],
 177553: nan,
 154085: nan,
 40117: ['20%', '20%'],
 96325: ['19%', '4%'],
 184505: nan,
 149402: nan,
 143398: ['18%', '45%'],
 122596: ['22%', '78%'],
 118980: ['33%', '67%'],
 127867: nan,
 90596: ['58%', '42%'],
 15899: ['36%', '64%'],
 14957: nan,
 89323: nan,
 127335: ['73%', '27%'],
 103353: nan,
 69956: ['64%', '36%'],
 86785: ['20%', '32%'],
 107352: ['44%', '56%'],
 79102: ['28%', '37%'],
 160500: nan,
 132590: nan,
 149718: ['25%', '25%'],
 154194: nan,
 142081: nan,
 105576: nan,
 79196: nan,
 118950: ['51%', '49%'],
 19303: ['100%', '21%'],
 18781: ['26%', '74%'],
 103708: ['34%', '66%'],
 143733: nan,
 73301: ['19%', '9%'],
 32686: ['32%', '68%'],
 120600: nan,
 101961: ['76%', '24%'],
 30776: ['24%', '17%'],
 88295: ['18%', '28%'],
 94187: ['58%', '42%'],
 89361: ['17%', '39%'],
 73318: ['100%', '23%'],
 112039: ['42%', '58%'],
 101236: ['54%', '46%'],
 117790: ['45%', '55%'],
 105521: ['41%', '59%'],
 88426: ['50%', '50%'],
 122535: ['51%', '49%'],
 154076: nan,
 120123: ['49%', '51%'],
 93739: ['46%', '54%'],
 108225: ['49%', '51%'],
 177720: nan,
 112079: ['55%', '45%'],
 32972: ['30%', '19%'],
 93028: ['58%', '42%'],
 72222: ['17%', '25%'],
 40743: ['30%', '21%'],
 42846: ['33%', '22%'],
 44477: ['19%', '20%'],
 51560: nan,
 76067: nan,
 80632: ['18%', '31%'],
 99096: ['54%', '46%'],
 158228: nan,
 61101: ['40%', '60%'],
 137960: nan,
 137993: nan,
 126950: nan,
 92127: nan,
 80973: nan,
 80627: ['19%', '34%'],
 76442: ['21%', '37%'],
 109778: ['53%', '47%'],
 143367: nan,
 154200: nan,
 87309: ['35%', '65%'],
 114249: ['53%', '47%'],
 165087: nan,
 88662: ['22%', '35%'],
 136861: nan,
 127481: nan,
 114279: nan,
 190727: ['56%', '44%'],
 109102: nan,
 122473: ['52%', '48%'],
 134558: nan,
 49079: nan,
 94975: nan,
 127321: ['28%', '72%'],
 122490: ['33%', '28%'],
 154198: nan,
 102862: ['25%', '29%'],
 37928: ['14%', '18%'],
 146212: ['73%', '27%'],
 21636: nan,
 41622: ['33%', '25%'],
 42381: nan,
 198969: nan,
 101973: ['0%', '17%'],
 42455: nan,
 71075: nan,
 25676: ['33%', '19%'],
 109982: ['57%', '43%'],
 74893: ['20%', '27%'],
 195970: ['78%', '22%'],
 110648: nan,
 126745: nan,
 125841: ['31%', '69%'],
 154582: nan,
 72184: nan,
 76437: nan,
 45290: ['59%', '41%'],
 140272: nan,
 118909: ['58%', '42%'],
 37488: ['24%', '27%'],
 46153: ['17%', '36%'],
 72524: ['50%', '50%'],
 38699: ['18%', '17%'],
 31162: ['22%', '30%'],
 83414: nan,
 10035: ['23%', '19%'],
 178654: ['62%', '38%'],
 164115: ['27%', '73%'],
 82227: ['23%', '0%'],
 113377: ['55%', '45%'],
 10629: ['23%', '37%'],
 75422: nan,
 13353: ['29%', '43%'],
 28166: nan,
 69798: ['8%', '35%'],
 188996: nan,
 95876: ['26%', '23%'],
 38064: ['19%', '45%'],
 103328: nan,
 71509: ['23%', '29%'],
 178398: nan,
 194946: nan,
 12821: nan,
 125044: nan,
 93744: ['27%', '37%'],
 154196: nan,
 130997: ['15%', '39%'],
 109095: ['32%', '68%'],
 16792: ['75%', '25%'],
 149248: ['50%', '50%'],
 109169: ['47%', '53%'],
 99933: nan,
 100676: ['50%', '50%'],
 94829: ['60%', '40%'],
 134567: ['14%', '14%'],
 137908: ['53%', '47%'],
 113348: ['50%', '50%'],
 118397: ['57%', '43%'],
 99740: ['59%', '41%'],
 97697: nan,
 191929: ['50%', '50%'],
 92075: ['47%', '53%'],
 73508: ['22%', '25%'],
 52555: ['12%', '88%'],
 90589: ['64%', '36%'],
 88461: ['20%', '26%'],
 79394: nan,
 66158: ['42%', '58%'],
 91696: ['29%', '18%'],
 92176: ['21%', '16%'],
 29691: ['26%', '33%'],
 118367: ['53%', '47%'],
 29146: ['31%', '25%'],
 34436: ['20%', '20%'],
 39633: ['25%', '27%'],
 71077: nan,
 10964: ['42%', '26%'],
 34162: nan,
 148912: nan,
 12787: ['29%', '71%'],
 86900: ['34%', '40%'],
 125438: ['38%', '62%'],
 137327: ['77%', '23%'],
 39576: ['29%', '23%'],
 39471: ['30%', '10%'],
 155411: ['54%', '46%'],
 160749: ['52%', '48%'],
 162824: ['41%', '59%'],
 184506: nan,
 62237: nan,
 96969: ['35%', '27%'],
 115814: nan,
 158216: nan,
 12222: ['19%', '26%'],
 17092: ['30%', '23%'],
 38740: ['25%', '20%'],
 91510: ['31%', '27%'],
 35071: ['23%', '21%'],
 125494: ['68%', '32%'],
 68196: ['26%', '15%'],
 32680: ['25%', '30%'],
 31195: ['20%', '52%'],
 195965: ['50%', '0%'],
 97631: ['56%', '44%'],
 72054: ['81%', '19%'],
 18878: ['54%', '46%'],
 91192: ['64%', '36%'],
 17692: ['32%', '29%'],
 18174: ['33%', '22%'],
 168079: nan,
 85702: ['27%', '17%'],
 103765: ['35%', '65%'],
 82142: ['24%', '30%'],
 76692: ['22%', '46%'],
 97858: ['44%', '56%'],
 75508: ['37%', '8%'],
 56612: ['34%', '26%'],
 61845: ['18%', '33%'],
 46875: ['27%', '24%'],
 83864: nan,
 46831: nan,
 151709: nan,
 31778: ['26%', '27%'],
 70999: ['16%', '20%'],
 81834: ['20%', '24%'],
 65877: ['16%', '19%'],
 84034: ['27%', '5%'],
 184956: nan,
 86507: ['30%', '25%'],
 29285: ['23%', '31%'],
 51786: ['24%', '28%'],
 190856: nan,
 97612: ['39%', '61%'],
 113318: nan,
 81106: ['25%', '8%'],
 72359: ['25%', '50%'],
 80629: ['27%', '22%'],
 66823: ['27%', '23%'],
 189150: ['60%', '40%'],
 100691: ['61%', '39%'],
 43157: ['25%', '25%'],
 103324: ['29%', '71%'],
 36857: ['35%', '14%'],
 32899: ['24%', '36%'],
 191079: nan,
 95203: ['22%', '78%'],
 185080: nan,
 11687: ['33%', '17%'],
 78726: ['100%', '25%'],
 124290: ['32%', '68%'],
 88238: nan,
 166096: nan,
 83712: nan,
 86335: ['100%', '28%'],
 32667: ['67%', '33%'],
 78790: ['24%', '29%'],
 10546: ['25%', '75%'],
 89218: ['27%', '34%'],
 31465: ['29%', '16%'],
 11031: ['100%', '23%'],
 119457: ['30%', '70%'],
 99493: nan,
 12415: nan,
 51777: ['100%', '29%'],
 25670: ['19%', '81%'],
 98279: ['50%', '50%'],
 73317: ['22%', '43%'],
 95334: ['20%', '80%'],
 12007: nan,
 11840: ['27%', '33%'],
 179802: nan,
 88253: ['19%', '27%'],
 109662: nan,
 41377: nan,
 36565: ['22%', '26%'],
 107923: ['49%', '51%'],
 65674: ['24%', '27%'],
 102648: ['45%', '55%'],
 119412: ['57%', '43%'],
 12918: ['33%', '67%'],
 85659: ['25%', '31%'],
 93752: ['11%', '53%'],
 20305: ['33%', '17%'],
 81888: nan,
 88292: nan,
 129256: nan,
 10410: ['20%', '31%'],
 16579: ['25%', '25%'],
 62328: ['29%', '20%'],
 38906: ['25%', '33%'],
 31565: ['38%', '62%'],
 17162: ['21%', '22%'],
 30487: ['11%', '24%'],
 37151: ['26%', '19%'],
 101700: ['29%', '17%'],
 76020: ['31%', '69%'],
 100950: ['22%', '12%'],
 95583: nan,
 37073: ['21%', '11%'],
 66464: ['100%', '21%'],
 175284: ['0%', '0%'],
 28214: ['29%', '20%'],
 78845: ['38%', '62%'],
 30911: ['19%', '41%'],
 31940: ['45%', '55%'],
 73509: nan,
 53813: ['19%', '19%'],
 204137: nan,
 10742: ['25%', '30%'],
 84189: ['19%', '32%'],
 73434: ['33%', '39%'],
 47321: ['29%', '71%'],
 37686: ['27%', '21%'],
 96031: ['24%', '76%'],
 23934: ['17%', '24%'],
 17367: nan,
 38551: ['23%', '23%'],
 72013: nan,
 31310: ['23%', '32%'],
 18988: ['26%', '22%'],
 85633: ['22%', '21%'],
 64686: ['40%', '60%'],
 45477: ['21%', '17%'],
 89757: ['44%', '56%'],
 66067: nan,
 52103: ['23%', '31%'],
 95331: nan,
 74610: ['39%', '61%'],
 52515: ['51%', '49%'],
 51132: ['25%', '26%'],
 169643: ['19%', '81%'],
 33332: ['16%', '32%'],
 10300: ['31%', '46%'],
 19074: ['23%', '23%'],
 10065: ['28%', '25%'],
 69991: ['20%', '25%'],
 43500: ['29%', '16%'],
 63852: nan,
 52290: nan,
 87311: ['26%', '26%'],
 68695: ['27%', '33%'],
 82428: ['28%', '24%'],
 40041: ['21%', '25%'],
 150688: ['22%', '78%'],
 39809: ['71%', '29%'],
 14397: ['22%', '26%'],
 34076: ['30%', '20%'],
 66091: ['32%', '68%'],
 151259: nan,
 82283: ['100%', '18%'],
 62586: ['70%', '30%'],
 37439: ['67%', '33%'],
 43513: ['25%', '45%'],
 65769: ['14%', '25%'],
 52541: ['18%', '16%'],
 62175: ['27%', '32%'],
 117788: nan,
 61503: ['25%', '20%'],
 85141: ['100%', '33%'],
 77197: nan,
 38835: ['21%', '28%'],
 36839: ['28%', '21%'],
 39345: ['24%', '37%'],
 198962: nan,
 36044: ['25%', '32%'],
 104426: ['58%', '42%'],
 92070: ['24%', '23%'],
 66584: ['20%', '40%'],
 76377: ['25%', '18%'],
 56058: ['31%', '26%'],
 31269: ['28%', '17%'],
 73018: ['21%', '27%'],
 74309: ['21%', '12%'],
 86381: ['28%', '8%'],
 42493: ['20%', '41%'],
 13500: ['25%', '16%'],
 52506: nan,
 57488: ['28%', '29%'],
 69689: ['24%', '29%'],
 33759: ['22%', '29%'],
 52551: ['16%', '11%'],
 76454: ['17%', '17%'],
 62560: ['29%', '30%'],
 10519: ['27%', '22%'],
 27544: nan,
 97692: ['35%', '65%'],
 123630: ['63%', '37%'],
 17159: ['46%', '54%'],
 36343: ['30%', '14%'],
 142458: nan,
 88244: nan,
 87308: ['23%', '11%'],
 66253: ['19%', '28%'],
 109193: ['33%', '67%'],
 132626: ['25%', '75%'],
 39857: ['22%', '26%'],
 34522: ['23%', '29%'],
 68587: ['35%', '15%'],
 10980: ['23%', '20%'],
 63159: ['21%', '38%'],
 49728: ['31%', '23%'],
 56227: ['26%', '18%'],
 10002: ['45%', '55%'],
 67768: ['23%', '22%'],
 77128: ['25%', '12%'],
 83546: ['23%', '16%'],
 35273: ['25%', '25%'],
 59075: ['58%', '42%'],
 39676: ['22%', '12%'],
 38738: ['25%', '21%'],
 52245: ['28%', '28%'],
 53307: ['23%', '28%'],
 38836: ['19%', '56%'],
 176008: ['0%', '50%'],
 61061: ['0%', '0%'],
 26679: ['27%', '23%'],
 69940: ['19%', '13%'],
 79566: ['17%', '24%'],
 78160: ['15%', '40%'],
 86801: nan,
 74632: ['27%', '16%'],
 87301: nan,
 43151: ['19%', '36%'],
 10004: ['24%', '19%'],
 43838: ['20%', '20%'],
 60488: ['28%', '12%'],
 42810: ['25%', '47%'],
 10003: ['52%', '48%'],
 73411: ['24%', '15%'],
 46869: ['21%', '5%'],
 50583: ['24%', '34%'],
 51700: ['13%', '28%'],
 80219: ['47%', '53%'],
 38347: ['23%', '50%'],
 151889: nan,
 118966: ['22%', '78%'],
 77761: nan,
 158217: nan,
 154462: nan,
 176630: nan,
 31307: ['24%', '24%'],
 128162: nan,
 88470: nan,
 92069: ['68%', '32%'],
 142201: ['100%', '15%'],
 52528: ['18%', '32%'],
 33422: ['18%', '41%'],
 76651: ['31%', '69%'],
 70251: ['23%', '15%'],
 64354: ['19%', '32%'],
 68944: ['28%', '25%'],
 61060: ['29%', '17%'],
 115316: nan,
 28795: ['24%', '33%'],
 100643: ['44%', '56%'],
 75129: nan,
 31159: ['20%', '25%'],
 17173: ['56%', '44%'],
 95328: nan,
 197870: nan,
 37937: ['29%', '71%'],
 108776: nan,
 32240: ['22%', '41%'],
 49336: ['32%', '68%'],
 132611: nan,
 97826: ['18%', '15%'],
 134318: nan,
 42253: ['8%', '48%'],
 204164: nan,
 39708: ['27%', '23%'],
 38898: ['21%', '31%'],
 94170: ['24%', '25%'],
 93930: nan,
 71499: ['23%', '21%'],
 51918: ['18%', '21%'],
 168402: nan,
 81243: nan,
 121310: nan,
 29102: ['20%', '36%'],
 46752: nan,
 11300: nan,
 26677: ['20%', '35%'],
 46753: nan,
 87556: ['69%', '31%'],
 30786: ['18%', '20%'],
 74451: ['14%', '59%'],
 82014: nan,
 40211: nan,
 102241: ['16%', '27%'],
 154212: nan,
 86843: ['29%', '71%'],
 52553: ['41%', '59%'],
 17458: ['20%', '28%'],
 34225: ['33%', '67%'],
 68437: ['31%', '21%'],
 72062: nan,
 39846: ['24%', '20%'],
 18865: ['22%', '20%'],
 31068: ['37%', '15%'],
 29712: ['26%', '20%'],
 43574: nan,
 36755: ['23%', '27%'],
 91505: nan,
 72043: ['27%', '30%'],
 77566: ['20%', '18%'],
 38227: ['48%', '52%'],
 74567: ['18%', '22%'],
 38572: ['20%', '23%']}

In [92]:
# crawled = audience_genders
crawled

{203096: ['23%', '19%'],
 17997: ['20%', '23%'],
 181925: ['58%', '42%'],
 195979: nan,
 138113: nan,
 197517: ['100%', '21%'],
 155356: ['36%', '64%'],
 168668: ['44%', '56%'],
 156023: nan,
 151155: ['25%', '22%'],
 143776: ['38%', '62%'],
 168735: ['22%', '78%'],
 142683: ['25%', '75%'],
 199742: nan,
 167675: ['100%', '24%'],
 151241: ['61%', '39%'],
 154667: ['36%', '64%'],
 164269: ['38%', '62%'],
 159366: ['26%', '74%'],
 162874: ['28%', '72%'],
 158180: ['45%', '55%'],
 167638: ['42%', '58%'],
 180209: ['37%', '63%'],
 161834: ['50%', '50%'],
 172454: ['54%', '46%'],
 158112: ['43%', '57%'],
 167651: ['45%', '55%'],
 164192: ['55%', '45%'],
 171744: ['100%', '0%'],
 143422: ['25%', '75%'],
 130811: ['100%', '9%'],
 195980: nan,
 168749: ['41%', '59%'],
 142210: ['33%', '67%'],
 159892: ['44%', '56%'],
 164150: ['100%', '19%'],
 158191: ['50%', '50%'],
 194581: nan,
 142255: ['44%', '56%'],
 199262: nan,
 194416: ['40%', '20%'],
 190313: nan,
 179338: ['100%', '30%'],
 190244: ['100%', '19%'],
 193100: nan,
 190341: nan,
 177332: ['33%', '67%'],
 188765: ['64%', '36%'],
 190723: nan,
 182348: ['42%', '58%'],
 194398: ['14%', '21%'],
 181114: ['70%', '30%'],
 183854: ['55%', '45%'],
 191591: ['21%', '33%'],
 186342: ['22%', '20%'],
 200586: ['20%', '32%'],
 198329: nan,
 202353: ['17%', '23%'],
 191633: ['28%', '72%'],
 200582: ['20%', '23%'],
 194723: ['22%', '32%'],
 196525: nan,
 189141: ['40%', '60%'],
 192146: ['67%', '33%'],
 201218: nan,
 110026: nan,
 201669: nan,
 199869: nan,
 168972: nan,
 10676: ['56%', '44%'],
 196581: nan,
 200746: nan,
 185935: nan,
 194195: ['21%', '46%'],
 164956: ['100%', '15%'],
 195757: ['0%', '0%'],
 199236: nan,
 173418: nan,
 11003: ['21%', '23%'],
 96984: ['50%', '50%'],
 95473: ['100%', '21%'],
 183839: ['100%', '0%'],
 42869: ['27%', '20%'],
 168019: ['24%', '76%'],
 159863: ['25%', '75%'],
 37370: ['20%', '27%'],
 62341: ['22%', '33%'],
 179399: ['50%', '50%'],
 185150: ['33%', '67%'],
 171455: ['50%', '50%'],
 180385: ['67%', '33%'],
 174530: ['25%', '75%'],
 198607: ['0%', '0%'],
 200575: ['23%', '23%'],
 199406: ['100%', '21%'],
 192898: ['18%', '25%'],
 179307: ['29%', '71%'],
 177508: ['55%', '45%'],
 177400: nan,
 175393: ['49%', '51%'],
 189001: ['56%', '44%'],
 166092: ['55%', '45%'],
 193970: ['25%', '75%'],
 107204: nan,
 200784: ['14%', '17%'],
 154672: ['21%', '79%'],
 190729: nan,
 191677: ['100%', '20%'],
 198749: ['23%', '20%'],
 191585: ['73%', '27%'],
 194870: ['12%', '24%'],
 200589: ['16%', '32%'],
 180025: ['44%', '56%'],
 152385: ['51%', '49%'],
 153620: ['26%', '74%'],
 189104: ['32%', '21%'],
 179879: ['22%', '41%'],
 179875: ['72%', '28%'],
 198754: ['33%', '67%'],
 181704: ['39%', '61%'],
 199876: ['19%', '32%'],
 199865: ['18%', '19%'],
 193570: ['20%', '11%'],
 192152: nan,
 11547: ['27%', '27%'],
 167495: nan,
 188471: nan,
 159866: ['44%', '56%'],
 185933: ['46%', '54%'],
 202609: nan,
 191998: ['30%', '17%'],
 199428: ['16%', '30%'],
 195105: ['16%', '11%'],
 207762: ['12%', '12%'],
 189357: ['17%', '17%'],
 159167: ['17%', '33%'],
 192624: ['50%', '50%'],
 198414: ['22%', '10%'],
 129407: nan,
 197283: ['19%', '37%'],
 172118: ['27%', '73%'],
 181965: nan,
 192148: nan,
 193170: ['29%', '14%'],
 178143: nan,
 193868: ['25%', '29%'],
 196389: ['21%', '27%'],
 155406: nan,
 150657: nan,
 30782: nan,
 191560: ['23%', '34%'],
 52593: ['18%', '22%'],
 162148: ['27%', '73%'],
 154508: ['31%', '69%'],
 168405: ['31%', '69%'],
 159805: ['43%', '57%'],
 187366: ['27%', '73%'],
 188874: ['22%', '36%'],
 189260: ['45%', '55%'],
 56447: ['30%', '28%'],
 182049: ['19%', '27%'],
 193974: ['25%', '28%'],
 191940: ['33%', '4%'],
 187548: ['17%', '22%'],
 188469: ['22%', '29%'],
 164936: nan,
 193870: ['26%', '30%'],
 140656: ['53%', '47%'],
 208974: nan,
 130708: nan,
 196978: ['0%', '0%'],
 196808: ['30%', '0%'],
 197281: ['19%', '29%'],
 170860: ['100%', '24%'],
 192141: ['26%', '15%'],
 168045: ['44%', '56%'],
 182360: ['34%', '66%'],
 96951: ['65%', '35%'],
 181381: ['55%', '45%'],
 179482: ['28%', '72%'],
 185838: ['56%', '44%'],
 178544: ['48%', '52%'],
 196570: ['100%', '27%'],
 195590: ['22%', '21%'],
 155399: nan,
 195417: ['20%', '19%'],
 195982: ['0%', '0%'],
 180390: ['54%', '46%'],
 165828: nan,
 178526: ['51%', '49%'],
 154029: ['41%', '59%'],
 189000: ['50%', '50%'],
 181703: nan,
 76960: ['69%', '31%'],
 196380: ['33%', '11%'],
 193686: ['16%', '29%'],
 184520: ['18%', '26%'],
 194884: nan,
 186614: ['22%', '22%'],
 107072: nan,
 195431: ['19%', '31%'],
 92001: nan,
 193173: ['22%', '28%'],
 186613: ['33%', '67%'],
 102802: nan,
 172789: nan,
 212271: nan,
 192480: nan,
 74902: nan,
 187349: ['56%', '44%'],
 188057: nan,
 195092: ['33%', '22%'],
 183110: ['58%', '42%'],
 179719: ['0%', '50%'],
 186611: ['20%', '23%'],
 194321: ['17%', '10%'],
 209442: nan,
 85578: ['49%', '51%'],
 174807: ['41%', '59%'],
 175365: ['19%', '81%'],
 177975: ['100%', '25%'],
 154986: ['43%', '57%'],
 202670: nan,
 189961: nan,
 193833: nan,
 192486: nan,
 201657: ['18%', '18%'],
 202535: ['26%', '17%'],
 177510: ['64%', '36%'],
 190447: ['50%', '50%'],
 203213: ['0%', '60%'],
 181046: ['20%', '80%'],
 159070: ['47%', '53%'],
 168508: nan,
 174294: ['64%', '36%'],
 164104: ['16%', '84%'],
 198774: ['21%', '46%'],
 181541: ['0%', '0%'],
 63850: ['16%', '28%'],
 189537: ['61%', '39%'],
 197339: ['29%', '18%'],
 177374: ['41%', '59%'],
 169078: ['38%', '62%'],
 172795: nan,
 181971: nan,
 186821: ['47%', '53%'],
 182355: ['62%', '38%'],
 182017: nan,
 185340: nan,
 194802: ['27%', '24%'],
 194803: ['18%', '12%'],
 191002: nan,
 193856: ['12%', '38%'],
 190720: ['69%', '31%'],
 194318: ['21%', '42%'],
 193488: ['23%', '24%'],
 194726: ['15%', '12%'],
 192481: ['37%', '24%'],
 174808: ['22%', '36%'],
 192027: ['28%', '36%'],
 193921: ['22%', '2%'],
 176306: ['66%', '34%'],
 74407: ['79%', '21%'],
 191918: ['14%', '18%'],
 181695: nan,
 189712: ['100%', '22%'],
 193828: ['17%', '33%'],
 12781: ['100%', '0%'],
 190806: nan,
 193827: ['19%', '41%'],
 193079: nan,
 199586: ['17%', '20%'],
 177509: ['56%', '44%'],
 127858: ['33%', '67%'],
 24008: ['19%', '9%'],
 39640: ['31%', '69%'],
 83410: ['14%', '7%'],
 193862: ['23%', '18%'],
 191759: ['27%', '18%'],
 35012: nan,
 193124: nan,
 183876: ['55%', '45%'],
 191518: nan,
 185131: ['29%', '71%'],
 171540: nan,
 191916: nan,
 172113: ['57%', '43%'],
 175318: ['67%', '33%'],
 192361: nan,
 140648: nan,
 191686: ['28%', '32%'],
 30775: nan,
 146534: ['50%', '50%'],
 165022: ['56%', '44%'],
 154419: ['29%', '71%'],
 34090: ['26%', '5%'],
 193864: ['18%', '20%'],
 191923: ['15%', '36%'],
 182387: ['25%', '75%'],
 189053: ['55%', '45%'],
 190026: ['22%', '78%'],
 187318: ['21%', '6%'],
 191641: ['15%', '25%'],
 191913: nan,
 182046: nan,
 173653: ['46%', '54%'],
 179430: ['48%', '52%'],
 132946: ['36%', '64%'],
 19302: ['22%', '10%'],
 130267: ['100%'],
 57412: ['14%', '9%'],
 103774: nan,
 18782: ['21%', '11%'],
 189112: ['27%', '32%'],
 191932: ['24%', '8%'],
 164172: ['42%', '58%'],
 180381: ['23%', '77%'],
 188761: nan,
 170475: nan,
 193863: ['24%', '28%'],
 189971: nan,
 182205: ['46%', '54%'],
 175404: ['44%', '56%'],
 168725: nan,
 190597: nan,
 180374: ['24%', '76%'],
 177381: ['51%', '49%'],
 171515: nan,
 174797: ['50%', '50%'],
 189111: ['41%', '59%'],
 49230: nan,
 198564: ['29%', '22%'],
 189049: ['29%', '15%'],
 182014: ['44%', '56%'],
 188056: ['38%', '62%'],
 175316: ['45%', '55%'],
 164968: ['100%', '25%'],
 164155: ['38%', '62%'],
 201288: ['17%', '17%'],
 187828: ['0%', '0%'],
 185272: ['30%', '20%'],
 172458: ['17%', '34%'],
 157052: nan,
 154298: ['80%', '20%'],
 142266: ['41%', '59%'],
 206634: nan,
 189670: ['14%', '45%'],
 191613: ['21%', '10%'],
 172392: nan,
 201959: ['24%', '10%'],
 179158: ['38%', '62%'],
 187526: ['40%', '60%'],
 192608: nan,
 184915: nan,
 188990: ['0%', '40%'],
 142699: ['50%', '50%'],
 104283: ['33%', '33%'],
 179976: ['21%', '30%'],
 182084: nan,
 188045: ['30%', '30%'],
 196950: ['43%', '0%'],
 190004: ['8%', '46%'],
 203220: ['25%', '12%'],
 192611: ['25%', '31%'],
 174301: ['49%', '51%'],
 189337: nan,
 150637: ['56%', '44%'],
 140696: ['49%', '51%'],
 181912: ['32%', '68%'],
 168086: ['21%', '79%'],
 179975: nan,
 168044: nan,
 99470: nan,
 171750: ['86%', '14%'],
 167374: ['40%', '60%'],
 192483: ['20%', '20%'],
 169241: nan,
 192482: ['17%', '19%'],
 86137: ['13%', '33%'],
 162173: ['43%', '57%'],
 146506: ['46%', '54%'],
 121303: ['100%', '0%'],
 137008: ['49%', '51%'],
 154112: ['50%', '50%'],
 134895: ['40%', '60%'],
 144280: ['41%', '59%'],
 146469: ['46%', '54%'],
 127382: ['49%', '51%'],
 142384: ['46%', '54%'],
 146530: ['29%', '71%'],
 142459: nan,
 143473: ['50%', '50%'],
 142304: ['57%', '43%'],
 175040: ['36%', '64%'],
 13895: ['50%', '50%'],
 174627: ['25%', '75%'],
 144266: ['60%', '40%'],
 172805: nan,
 194730: ['44%', '33%'],
 193601: nan,
 154270: ['58%', '42%'],
 187336: ['23%', '46%'],
 168013: nan,
 168042: nan,
 149059: ['58%', '42%'],
 164139: ['55%', '45%'],
 10922: ['39%', '61%'],
 39893: nan,
 167603: ['24%', '29%'],
 179866: nan,
 181210: nan,
 56631: nan,
 10062: ['29%', '16%'],
 180026: ['21%', '35%'],
 146508: ['29%', '71%'],
 160721: ['43%', '57%'],
 141206: ['37%', '63%'],
 157974: ['57%', '43%'],
 63969: ['100%', '27%'],
 58333: ['22%', '20%'],
 99664: nan,
 168298: ['48%', '52%'],
 38823: ['27%', '18%'],
 140652: ['46%', '54%'],
 168069: nan,
 83214: ['17%', '29%'],
 163711: nan,
 186402: nan,
 179327: nan,
 193041: nan,
 146524: ['50%', '50%'],
 153652: ['45%', '55%'],
 120165: ['35%', '65%'],
 172085: nan,
 200404: nan,
 41350: ['21%', '31%'],
 74315: ['25%', '26%'],
 93728: ['23%', '34%'],
 167105: ['53%', '47%'],
 91073: ['19%', '44%'],
 76080: ['24%', '37%'],
 82906: ['19%', '34%'],
 164173: ['39%', '61%'],
 165748: ['48%', '52%'],
 84899: ['16%', '37%'],
 110246: nan,
 182163: nan,
 159716: ['26%', '74%'],
 164151: ['45%', '55%'],
 92536: ['23%', '21%'],
 10101: ['25%', '75%'],
 148946: ['14%', '86%'],
 159877: ['43%', '57%'],
 155716: ['50%', '50%'],
 173103: nan,
 168083: nan,
 47115: nan,
 30317: ['27%', '12%'],
 186603: nan,
 72930: nan,
 182045: nan,
 175792: ['0%', '100%'],
 159848: ['46%', '54%'],
 159146: ['38%', '62%'],
 145292: ['54%', '46%'],
 186092: ['22%', '31%'],
 167099: ['57%', '43%'],
 92125: ['83%', '17%'],
 192479: ['25%', '14%'],
 184234: nan,
 183286: nan,
 184233: ['29%', '19%'],
 177943: nan,
 65290: ['18%', '37%'],
 53065: ['13%', '21%'],
 144215: ['52%', '48%'],
 184239: ['0%', '0%'],
 192478: ['25%', '25%'],
 171024: nan,
 31801: ['38%', '62%'],
 154625: ['49%', '51%'],
 168172: ['54%', '46%'],
 159747: ['24%', '76%'],
 37853: ['31%', '28%'],
 37919: ['21%', '27%'],
 83528: ['50%', '50%'],
 172798: ['23%', '77%'],
 161944: ['35%', '26%'],
 169899: ['50%', '50%'],
 160009: ['52%', '48%'],
 148773: nan,
 39399: ['23%', '33%'],
 140072: nan,
 179840: ['17%', '83%'],
 162265: ['25%', '75%'],
 75744: ['41%', '59%'],
 42841: ['15%', '25%'],
 72337: ['18%', '24%'],
 154981: ['52%', '48%'],
 146566: ['51%', '49%'],
 159827: ['47%', '53%'],
 175727: ['21%', '79%'],
 162423: ['54%', '46%'],
 159670: ['33%', '67%'],
 172040: ['63%', '37%'],
 159731: ['29%', '71%'],
 167107: ['22%', '78%'],
 75378: ['20%', '80%'],
 172031: ['23%', '18%'],
 54970: ['33%', '67%'],
 163363: nan,
 159894: ['36%', '64%'],
 177277: nan,
 18419: nan,
 172770: nan,
 192477: ['25%', '12%'],
 184237: ['0%', '0%'],
 153580: ['61%', '39%'],
 181104: ['73%', '27%'],
 184323: nan,
 142739: ['48%', '52%'],
 99752: ['50%', '50%'],
 167787: ['21%', '79%'],
 159311: ['32%', '68%'],
 184216: nan,
 180907: nan,
 192476: ['20%', '24%'],
 170851: nan,
 192473: ['100%', '0%'],
 192630: nan,
 192475: ['26%', '32%'],
 192474: ['0%', '0%'],
 177771: nan,
 154653: ['21%', '79%'],
 163533: ['50%', '50%'],
 152686: ['12%', '12%'],
 172341: nan,
 164106: ['49%', '51%'],
 152274: nan,
 152680: ['70%', '30%'],
 167602: ['28%', '72%'],
 113129: nan,
 98214: nan,
 183108: nan,
 179900: nan,
 184202: nan,
 159342: nan,
 165638: nan,
 184303: nan,
 210874: nan,
 165637: nan,
 159341: nan,
 85140: nan,
 103577: nan,
 136547: nan,
 121799: nan,
 16707: ['0%', '100%'],
 88431: nan,
 152344: ['59%', '41%'],
 192472: nan,
 182599: nan,
 182051: nan,
 190056: nan,
 163817: ['25%', '24%'],
 173833: ['42%', '58%'],
 137011: nan,
 158117: nan,
 99700: nan,
 121034: nan,
 181295: nan,
 111991: nan,
 107365: nan,
 144983: ['23%', '5%'],
 168068: nan,
 43310: nan,
 182047: ['0%', '33%'],
 171531: nan,
 157297: ['58%', '42%'],
 172420: ['40%', '60%'],
 181926: nan,
 152669: ['100%', '29%'],
 154437: ['28%', '72%'],
 179317: nan,
 182057: ['16%', '39%'],
 163744: ['100%', '17%'],
 140010: ['37%', '63%'],
 170581: nan,
 168026: nan,
 179871: nan,
 182729: ['27%', '29%'],
 153687: ['53%', '47%'],
 96967: ['50%', '50%'],
 134880: ['21%', '13%'],
 192471: ['20%', '0%'],
 175362: nan,
 111574: nan,
 173884: ['33%', '67%'],
 179012: nan,
 167697: ['42%', '58%'],
 179097: nan,
 176622: ['100%', '9%'],
 167056: nan,
 172980: ['75%', '25%'],
 178054: nan,
 182005: ['43%', '11%'],
 143416: ['37%', '63%'],
 171475: ['25%', '34%'],
 156417: ['29%', '71%'],
 153279: ['22%', '78%'],
 145342: nan,
 178097: ['41%', '59%'],
 172752: ['15%', '38%'],
 127394: ['26%', '15%'],
 165321: ['26%', '74%'],
 126133: nan,
 92530: nan,
 149730: ['22%', '34%'],
 158652: ['33%', '67%'],
 174596: nan,
 132631: nan,
 145805: nan,
 176733: nan,
 49862: nan,
 113340: nan,
 127461: nan,
 181574: ['0%', '0%'],
 177134: nan,
 172447: nan,
 155715: ['39%', '61%'],
 159830: ['61%', '39%'],
 199864: ['21%', '17%'],
 158124: nan,
 89009: nan,
 168059: ['40%', '60%'],
 182513: ['20%', '0%'],
 177397: ['19%', '16%'],
 178751: ['25%', '21%'],
 195681: ['50%', '50%'],
 179868: nan,
 168479: ['100%', '11%'],
 176902: nan,
 171538: ['26%', '21%'],
 168018: ['32%', '14%'],
 192470: nan,
 31234: ['20%', '20%'],
 142324: ['62%', '38%'],
 156091: ['50%', '50%'],
 175099: nan,
 148847: nan,
 180005: nan,
 182597: nan,
 157500: ['20%', '80%'],
 133129: ['47%', '53%'],
 140731: ['58%', '42%'],
 172167: nan,
 172769: ['17%', '33%'],
 113624: nan,
 109906: ['51%', '49%'],
 171490: ['28%', '72%'],
 163846: ['17%', '22%'],
 47174: nan,
 167581: nan,
 178096: ['26%', '24%'],
 169218: ['25%', '33%'],
 128293: nan,
 133424: ['40%', '60%'],
 172771: ['20%', '27%'],
 191370: nan,
 57723: ['58%', '42%'],
 36344: ['25%', '30%'],
 58085: ['23%', '33%'],
 35628: ['26%', '25%'],
 32610: ['25%', '36%'],
 48747: ['24%', '36%'],
 66510: ['25%', '31%'],
 191367: nan,
 37235: ['27%', '39%'],
 34501: ['23%', '28%'],
 73285: ['35%', '25%'],
 89873: ['18%', '40%'],
 146407: ['67%', '33%'],
 35939: ['50%', '50%'],
 37261: ['28%', '25%'],
 49529: ['29%', '21%'],
 121090: ['43%', '57%'],
 91391: ['36%', '19%'],
 35938: ['21%', '39%'],
 89606: ['23%', '33%'],
 34971: ['25%', '41%'],
 36451: ['27%', '39%'],
 62566: ['21%', '36%'],
 158885: ['16%', '84%'],
 50932: ['23%', '30%'],
 152656: ['45%', '55%'],
 30037: nan,
 36956: ['32%', '28%'],
 65429: ['21%', '21%'],
 39422: ['24%', '28%'],
 66002: ['26%', '38%'],
 136893: ['39%', '61%'],
 35172: ['18%', '32%'],
 88227: ['69%', '31%'],
 40033: ['25%', '23%'],
 39482: ['20%', '53%'],
 58018: ['24%', '23%'],
 41705: ['23%', '26%'],
 30984: ['22%', '30%'],
 52375: ['23%', '31%'],
 143402: ['55%', '45%'],
 83268: ['14%', '35%'],
 143937: ['24%', '17%'],
 45416: ['20%', '33%'],
 51076: ['21%', '36%'],
 149512: ['51%', '49%'],
 55405: ['19%', '39%'],
 158692: nan,
 164966: nan,
 192469: ['33%', '33%'],
 172970: nan,
 151196: ['29%', '71%'],
 158631: ['47%', '53%'],
 179746: nan,
 156910: nan,
 146489: ['25%', '75%'],
 178856: nan,
 74650: nan,
 169666: nan,
 172488: nan,
 162853: nan,
 168039: nan,
 158700: ['14%', '27%'],
 178416: nan,
 143373: ['29%', '71%'],
 145376: ['28%', '72%'],
 191581: nan,
 143460: ['41%', '59%'],
 192468: ['17%', '17%'],
 178456: ['38%', '62%'],
 152268: ['36%', '15%'],
 110333: ['63%', '37%'],
 168036: ['55%', '45%'],
 163812: ['17%', '24%'],
 15530: ['38%', '50%'],
 34316: nan,
 41118: nan,
 27540: nan,
 62787: nan,
 26940: nan,
 42173: nan,
 172799: nan,
 152249: ['56%', '44%'],
 92079: nan,
 185267: ['47%', '53%'],
 181286: ['82%', '18%'],
 165461: ['42%', '58%'],
 152183: ['46%', '54%'],
 164102: ['25%', '75%'],
 160720: ['18%', '82%'],
 152486: ['13%', '87%'],
 155228: ['60%', '40%'],
 156930: ['50%', '50%'],
 147835: ['100%', '27%'],
 172188: nan,
 10006: ['25%', '18%'],
 101966: ['40%', '60%'],
 47528: ['21%', '20%'],
 66463: ['23%', '14%'],
 45649: ['22%', '17%'],
 149516: ['22%', '78%'],
 134899: ['36%', '64%'],
 151117: ['27%', '73%'],
 138601: ['22%', '78%'],
 147368: ['11%', '36%'],
 161850: ['37%', '63%'],
 58088: ['20%', '27%'],
 130787: ['57%', '43%'],
 36727: ['20%', '26%'],
 34322: nan,
 10852: nan,
 16846: ['11%', '44%'],
 92877: nan,
 60789: ['28%', '24%'],
 75882: nan,
 165830: nan,
 169650: ['24%', '16%'],
 41613: nan,
 73799: nan,
 137887: ['31%', '22%'],
 60484: ['22%', '28%'],
 17416: ['28%', '14%'],
 29354: ['27%', '9%'],
 38281: ['35%', '14%'],
 175470: nan,
 199878: nan,
 10245: ['34%', '21%'],
 168244: nan,
 201339: nan,
 178454: nan,
 100205: ['57%', '43%'],
 170794: nan,
 158664: nan,
 152628: nan,
 174933: nan,
 16516: ['29%', '22%'],
 112014: nan,
 123613: nan,
 127378: ['22%', '78%'],
 164946: nan,
 157532: nan,
 181927: ['29%', '29%'],
 146231: nan,
 164277: nan,
 158092: nan,
 152692: nan,
 47494: ['22%', '11%'],
 144130: ['27%', '73%'],
 154273: ['88%', '12%'],
 117400: nan,
 176596: ['30%', '24%'],
 171483: nan,
 85579: ['45%', '55%'],
 74689: nan,
 175092: ['20%', '24%'],
 116233: ['57%', '43%'],
 175111: nan,
 184215: ['15%', '29%'],
 190718: ['0%', '100%'],
 28581: nan,
 174919: ['0%', '100%'],
 12780: nan,
 167389: nan,
 37838: ['21%', '30%'],
 88225: ['24%', '33%'],
 194372: nan,
 194871: nan,
 162854: ['29%', '71%'],
 173828: nan,
 166463: ['100%', '25%'],
 168010: ['17%', '8%'],
 206029: nan,
 180335: nan,
 173213: nan,
 170798: nan,
 163832: ['25%', '75%'],
 162963: nan,
 44911: ['41%', '59%'],
 168746: nan,
 178458: nan,
 140647: ['54%', '46%'],
 171485: nan,
 171536: ['20%', '47%'],
 153651: ['52%', '48%'],
 171493: ['0%', '50%'],
 174342: nan,
 30056: nan,
 26821: nan,
 174343: nan,
 164918: ['0%', '50%'],
 47429: nan,
 164719: ['32%', '68%'],
 15919: nan,
 157340: nan,
 152694: ['41%', '59%'],
 172841: nan,
 172844: nan,
 152646: ['100%', '23%'],
 10651: ['11%', '33%'],
 58538: ['25%', '18%'],
 16494: ['19%', '27%'],
 167733: nan,
 10469: ['21%', '18%'],
 146415: nan,
 172833: ['0%', '0%'],
 155420: nan,
 129098: nan,
 163824: ['100%', '26%'],
 158861: nan,
 172824: ['50%', '25%'],
 144944: ['59%', '41%'],
 178452: ['20%', '28%'],
 156565: ['67%', '33%'],
 187981: ['19%', '28%'],
 188909: ['59%', '41%'],
 154236: ['26%', '17%'],
 143409: ['32%', '68%'],
 98901: nan,
 167743: ['9%', '23%'],
 124227: ['40%', '20%'],
 154206: ['29%', '71%'],
 134811: nan,
 153964: ['66%', '34%'],
 144379: ['31%', '69%'],
 127374: ['64%', '36%'],
 172475: nan,
 169651: nan,
 158854: nan,
 65722: ['25%', '34%'],
 167311: nan,
 137890: ['54%', '46%'],
 156461: nan,
 172074: ['0%', '0%'],
 155256: ['60%', '40%'],
 181949: nan,
 167061: ['22%', '11%'],
 158632: ['13%', '13%'],
 163813: ['19%', '19%'],
 168551: ['33%', '67%'],
 168931: nan,
 159798: nan,
 151746: ['33%', '17%'],
 171512: ['25%', '25%'],
 159156: nan,
 157178: ['56%', '44%'],
 182578: ['56%', '44%'],
 152243: ['0%', '33%'],
 171037: nan,
 194471: ['30%', '40%'],
 164939: nan,
 124025: ['51%', '49%'],
 125802: ['41%', '59%'],
 144272: ['100%', '0%'],
 129406: ['36%', '64%'],
 144943: ['48%', '52%'],
 160115: nan,
 40133: ['30%', '21%'],
 149122: nan,
 144958: ['83%', '17%'],
 124205: ['50%', '50%'],
 158886: nan,
 119966: ['43%', '57%'],
 45921: ['33%', '29%'],
 97693: ['23%', '37%'],
 129051: ['51%', '49%'],
 144188: ['100%', '31%'],
 106522: ['39%', '61%'],
 140226: nan,
 107374: ['43%', '57%'],
 149027: ['100%', '21%'],
 124041: ['50%', '50%'],
 142242: ['45%', '55%'],
 115366: ['34%', '66%'],

In [96]:
for k, v in audience_genders.items():
    crawled[k] = v
crawled

{203096: ['23%', '19%'],
 17997: ['20%', '23%'],
 181925: ['58%', '42%'],
 195979: nan,
 138113: nan,
 197517: ['100%', '21%'],
 155356: ['36%', '64%'],
 168668: ['44%', '56%'],
 156023: nan,
 151155: ['25%', '22%'],
 143776: ['38%', '62%'],
 168735: ['22%', '78%'],
 142683: ['25%', '75%'],
 199742: nan,
 167675: ['100%', '24%'],
 151241: ['61%', '39%'],
 154667: ['36%', '64%'],
 164269: ['38%', '62%'],
 159366: ['26%', '74%'],
 162874: ['28%', '72%'],
 158180: ['45%', '55%'],
 167638: ['42%', '58%'],
 180209: ['37%', '63%'],
 161834: ['50%', '50%'],
 172454: ['54%', '46%'],
 158112: ['43%', '57%'],
 167651: ['45%', '55%'],
 164192: ['55%', '45%'],
 171744: ['100%', '0%'],
 143422: ['25%', '75%'],
 130811: ['100%', '9%'],
 195980: nan,
 168749: ['41%', '59%'],
 142210: ['33%', '67%'],
 159892: ['44%', '56%'],
 164150: ['100%', '19%'],
 158191: ['50%', '50%'],
 194581: nan,
 142255: ['44%', '56%'],
 199262: nan,
 194416: ['40%', '20%'],
 190313: nan,
 179338: ['100%', '30%'],
 190244: ['100%', '19%'],
 193100: nan,
 190341: nan,
 177332: ['33%', '67%'],
 188765: ['64%', '36%'],
 190723: nan,
 182348: ['42%', '58%'],
 194398: ['14%', '21%'],
 181114: ['70%', '30%'],
 183854: ['55%', '45%'],
 191591: ['21%', '33%'],
 186342: ['22%', '20%'],
 200586: ['20%', '32%'],
 198329: nan,
 202353: ['17%', '23%'],
 191633: ['28%', '72%'],
 200582: ['20%', '23%'],
 194723: ['22%', '32%'],
 196525: nan,
 189141: ['40%', '60%'],
 192146: ['67%', '33%'],
 201218: nan,
 110026: nan,
 201669: nan,
 199869: nan,
 168972: nan,
 10676: ['56%', '44%'],
 196581: nan,
 200746: nan,
 185935: nan,
 194195: ['21%', '46%'],
 164956: ['100%', '15%'],
 195757: ['0%', '0%'],
 199236: nan,
 173418: nan,
 11003: ['21%', '23%'],
 96984: ['50%', '50%'],
 95473: ['100%', '21%'],
 183839: ['100%', '0%'],
 42869: ['27%', '20%'],
 168019: ['24%', '76%'],
 159863: ['25%', '75%'],
 37370: ['20%', '27%'],
 62341: ['22%', '33%'],
 179399: ['50%', '50%'],
 185150: ['33%', '67%'],
 171455: ['50%', '50%'],
 180385: ['67%', '33%'],
 174530: ['25%', '75%'],
 198607: ['0%', '0%'],
 200575: ['23%', '23%'],
 199406: ['100%', '21%'],
 192898: ['18%', '25%'],
 179307: ['29%', '71%'],
 177508: ['55%', '45%'],
 177400: nan,
 175393: ['49%', '51%'],
 189001: ['56%', '44%'],
 166092: ['55%', '45%'],
 193970: ['25%', '75%'],
 107204: nan,
 200784: ['14%', '17%'],
 154672: ['21%', '79%'],
 190729: nan,
 191677: ['100%', '20%'],
 198749: ['23%', '20%'],
 191585: ['73%', '27%'],
 194870: ['12%', '24%'],
 200589: ['16%', '32%'],
 180025: ['44%', '56%'],
 152385: ['51%', '49%'],
 153620: ['26%', '74%'],
 189104: ['32%', '21%'],
 179879: ['22%', '41%'],
 179875: ['72%', '28%'],
 198754: ['33%', '67%'],
 181704: ['39%', '61%'],
 199876: ['19%', '32%'],
 199865: ['18%', '19%'],
 193570: ['20%', '11%'],
 192152: nan,
 11547: ['27%', '27%'],
 167495: nan,
 188471: nan,
 159866: ['44%', '56%'],
 185933: ['46%', '54%'],
 202609: nan,
 191998: ['30%', '17%'],
 199428: ['16%', '30%'],
 195105: ['16%', '11%'],
 207762: ['12%', '12%'],
 189357: ['17%', '17%'],
 159167: ['17%', '33%'],
 192624: ['50%', '50%'],
 198414: ['22%', '10%'],
 129407: nan,
 197283: ['19%', '37%'],
 172118: ['27%', '73%'],
 181965: nan,
 192148: nan,
 193170: ['29%', '14%'],
 178143: nan,
 193868: ['25%', '29%'],
 196389: ['21%', '27%'],
 155406: nan,
 150657: nan,
 30782: nan,
 191560: ['23%', '34%'],
 52593: ['18%', '22%'],
 162148: ['27%', '73%'],
 154508: ['31%', '69%'],
 168405: ['31%', '69%'],
 159805: ['43%', '57%'],
 187366: ['27%', '73%'],
 188874: ['22%', '36%'],
 189260: ['45%', '55%'],
 56447: ['30%', '28%'],
 182049: ['19%', '27%'],
 193974: ['25%', '28%'],
 191940: ['33%', '4%'],
 187548: ['17%', '22%'],
 188469: ['22%', '29%'],
 164936: nan,
 193870: ['26%', '30%'],
 140656: ['53%', '47%'],
 208974: nan,
 130708: nan,
 196978: ['0%', '0%'],
 196808: ['30%', '0%'],
 197281: ['19%', '29%'],
 170860: ['100%', '24%'],
 192141: ['26%', '15%'],
 168045: ['44%', '56%'],
 182360: ['34%', '66%'],
 96951: ['65%', '35%'],
 181381: ['55%', '45%'],
 179482: ['28%', '72%'],
 185838: ['56%', '44%'],
 178544: ['48%', '52%'],
 196570: ['100%', '27%'],
 195590: ['22%', '21%'],
 155399: nan,
 195417: ['20%', '19%'],
 195982: ['0%', '0%'],
 180390: ['54%', '46%'],
 165828: nan,
 178526: ['51%', '49%'],
 154029: ['41%', '59%'],
 189000: ['50%', '50%'],
 181703: nan,
 76960: ['69%', '31%'],
 196380: ['33%', '11%'],
 193686: ['16%', '29%'],
 184520: ['18%', '26%'],
 194884: nan,
 186614: ['22%', '22%'],
 107072: nan,
 195431: ['19%', '31%'],
 92001: nan,
 193173: ['22%', '28%'],
 186613: ['33%', '67%'],
 102802: nan,
 172789: nan,
 212271: nan,
 192480: nan,
 74902: nan,
 187349: ['56%', '44%'],
 188057: nan,
 195092: ['33%', '22%'],
 183110: ['58%', '42%'],
 179719: ['0%', '50%'],
 186611: ['20%', '23%'],
 194321: ['17%', '10%'],
 209442: nan,
 85578: ['49%', '51%'],
 174807: ['41%', '59%'],
 175365: ['19%', '81%'],
 177975: ['100%', '25%'],
 154986: ['43%', '57%'],
 202670: nan,
 189961: nan,
 193833: nan,
 192486: nan,
 201657: ['18%', '18%'],
 202535: ['26%', '17%'],
 177510: ['64%', '36%'],
 190447: ['50%', '50%'],
 203213: ['0%', '60%'],
 181046: ['20%', '80%'],
 159070: ['47%', '53%'],
 168508: nan,
 174294: ['64%', '36%'],
 164104: ['16%', '84%'],
 198774: ['21%', '46%'],
 181541: ['0%', '0%'],
 63850: ['16%', '28%'],
 189537: ['61%', '39%'],
 197339: ['29%', '18%'],
 177374: ['41%', '59%'],
 169078: ['38%', '62%'],
 172795: nan,
 181971: nan,
 186821: ['47%', '53%'],
 182355: ['62%', '38%'],
 182017: nan,
 185340: nan,
 194802: ['27%', '24%'],
 194803: ['18%', '12%'],
 191002: nan,
 193856: ['12%', '38%'],
 190720: ['69%', '31%'],
 194318: ['21%', '42%'],
 193488: ['23%', '24%'],
 194726: ['15%', '12%'],
 192481: ['37%', '24%'],
 174808: ['22%', '36%'],
 192027: ['28%', '36%'],
 193921: ['22%', '2%'],
 176306: ['66%', '34%'],
 74407: ['79%', '21%'],
 191918: ['14%', '18%'],
 181695: nan,
 189712: ['100%', '22%'],
 193828: ['17%', '33%'],
 12781: ['100%', '0%'],
 190806: nan,
 193827: ['19%', '41%'],
 193079: nan,
 199586: ['17%', '20%'],
 177509: ['56%', '44%'],
 127858: ['33%', '67%'],
 24008: ['19%', '9%'],
 39640: ['31%', '69%'],
 83410: ['14%', '7%'],
 193862: ['23%', '18%'],
 191759: ['27%', '18%'],
 35012: nan,
 193124: nan,
 183876: ['55%', '45%'],
 191518: nan,
 185131: ['29%', '71%'],
 171540: nan,
 191916: nan,
 172113: ['57%', '43%'],
 175318: ['67%', '33%'],
 192361: nan,
 140648: nan,
 191686: ['28%', '32%'],
 30775: nan,
 146534: ['50%', '50%'],
 165022: ['56%', '44%'],
 154419: ['29%', '71%'],
 34090: ['26%', '5%'],
 193864: ['18%', '20%'],
 191923: ['15%', '36%'],
 182387: ['25%', '75%'],
 189053: ['55%', '45%'],
 190026: ['22%', '78%'],
 187318: ['21%', '6%'],
 191641: ['15%', '25%'],
 191913: nan,
 182046: nan,
 173653: ['46%', '54%'],
 179430: ['48%', '52%'],
 132946: ['36%', '64%'],
 19302: ['22%', '10%'],
 130267: ['100%'],
 57412: ['14%', '9%'],
 103774: nan,
 18782: ['21%', '11%'],
 189112: ['27%', '32%'],
 191932: ['24%', '8%'],
 164172: ['42%', '58%'],
 180381: ['23%', '77%'],
 188761: nan,
 170475: nan,
 193863: ['24%', '28%'],
 189971: nan,
 182205: ['46%', '54%'],
 175404: ['44%', '56%'],
 168725: nan,
 190597: nan,
 180374: ['24%', '76%'],
 177381: ['51%', '49%'],
 171515: nan,
 174797: ['50%', '50%'],
 189111: ['41%', '59%'],
 49230: nan,
 198564: ['29%', '22%'],
 189049: ['29%', '15%'],
 182014: ['44%', '56%'],
 188056: ['38%', '62%'],
 175316: ['45%', '55%'],
 164968: ['100%', '25%'],
 164155: ['38%', '62%'],
 201288: ['17%', '17%'],
 187828: ['0%', '0%'],
 185272: ['30%', '20%'],
 172458: ['17%', '34%'],
 157052: nan,
 154298: ['80%', '20%'],
 142266: ['41%', '59%'],
 206634: nan,
 189670: ['14%', '45%'],
 191613: ['21%', '10%'],
 172392: nan,
 201959: ['24%', '10%'],
 179158: ['38%', '62%'],
 187526: ['40%', '60%'],
 192608: nan,
 184915: nan,
 188990: ['0%', '40%'],
 142699: ['50%', '50%'],
 104283: ['33%', '33%'],
 179976: ['21%', '30%'],
 182084: nan,
 188045: ['30%', '30%'],
 196950: ['43%', '0%'],
 190004: ['8%', '46%'],
 203220: ['25%', '12%'],
 192611: ['25%', '31%'],
 174301: ['49%', '51%'],
 189337: nan,
 150637: ['56%', '44%'],
 140696: ['49%', '51%'],
 181912: ['32%', '68%'],
 168086: ['21%', '79%'],
 179975: nan,
 168044: nan,
 99470: nan,
 171750: ['86%', '14%'],
 167374: ['40%', '60%'],
 192483: ['20%', '20%'],
 169241: nan,
 192482: ['17%', '19%'],
 86137: ['13%', '33%'],
 162173: ['43%', '57%'],
 146506: ['46%', '54%'],
 121303: ['100%', '0%'],
 137008: ['49%', '51%'],
 154112: ['50%', '50%'],
 134895: ['40%', '60%'],
 144280: ['41%', '59%'],
 146469: ['46%', '54%'],
 127382: ['49%', '51%'],
 142384: ['46%', '54%'],
 146530: ['29%', '71%'],
 142459: nan,
 143473: ['50%', '50%'],
 142304: ['57%', '43%'],
 175040: ['36%', '64%'],
 13895: ['50%', '50%'],
 174627: ['25%', '75%'],
 144266: ['60%', '40%'],
 172805: nan,
 194730: ['44%', '33%'],
 193601: nan,
 154270: ['58%', '42%'],
 187336: ['23%', '46%'],
 168013: nan,
 168042: nan,
 149059: ['58%', '42%'],
 164139: ['55%', '45%'],
 10922: ['39%', '61%'],
 39893: nan,
 167603: ['24%', '29%'],
 179866: nan,
 181210: nan,
 56631: nan,
 10062: ['29%', '16%'],
 180026: ['21%', '35%'],
 146508: ['29%', '71%'],
 160721: ['43%', '57%'],
 141206: ['37%', '63%'],
 157974: ['57%', '43%'],
 63969: ['100%', '27%'],
 58333: ['22%', '20%'],
 99664: nan,
 168298: ['48%', '52%'],
 38823: ['27%', '18%'],
 140652: ['46%', '54%'],
 168069: nan,
 83214: ['17%', '29%'],
 163711: nan,
 186402: nan,
 179327: nan,
 193041: nan,
 146524: ['50%', '50%'],
 153652: ['45%', '55%'],
 120165: ['35%', '65%'],
 172085: nan,
 200404: nan,
 41350: ['21%', '31%'],
 74315: ['25%', '26%'],
 93728: ['23%', '34%'],
 167105: ['53%', '47%'],
 91073: ['19%', '44%'],
 76080: ['24%', '37%'],
 82906: ['19%', '34%'],
 164173: ['39%', '61%'],
 165748: ['48%', '52%'],
 84899: ['16%', '37%'],
 110246: nan,
 182163: nan,
 159716: ['26%', '74%'],
 164151: ['45%', '55%'],
 92536: ['23%', '21%'],
 10101: ['25%', '75%'],
 148946: ['14%', '86%'],
 159877: ['43%', '57%'],
 155716: ['50%', '50%'],
 173103: nan,
 168083: nan,
 47115: nan,
 30317: ['27%', '12%'],
 186603: nan,
 72930: nan,
 182045: nan,
 175792: ['0%', '100%'],
 159848: ['46%', '54%'],
 159146: ['38%', '62%'],
 145292: ['54%', '46%'],
 186092: ['22%', '31%'],
 167099: ['57%', '43%'],
 92125: ['83%', '17%'],
 192479: ['25%', '14%'],
 184234: nan,
 183286: nan,
 184233: ['29%', '19%'],
 177943: nan,
 65290: ['18%', '37%'],
 53065: ['13%', '21%'],
 144215: ['52%', '48%'],
 184239: ['0%', '0%'],
 192478: ['25%', '25%'],
 171024: nan,
 31801: ['38%', '62%'],
 154625: ['49%', '51%'],
 168172: ['54%', '46%'],
 159747: ['24%', '76%'],
 37853: ['31%', '28%'],
 37919: ['21%', '27%'],
 83528: ['50%', '50%'],
 172798: ['23%', '77%'],
 161944: ['35%', '26%'],
 169899: ['50%', '50%'],
 160009: ['52%', '48%'],
 148773: nan,
 39399: ['23%', '33%'],
 140072: nan,
 179840: ['17%', '83%'],
 162265: ['25%', '75%'],
 75744: ['41%', '59%'],
 42841: ['15%', '25%'],
 72337: ['18%', '24%'],
 154981: ['52%', '48%'],
 146566: ['51%', '49%'],
 159827: ['47%', '53%'],
 175727: ['21%', '79%'],
 162423: ['54%', '46%'],
 159670: ['33%', '67%'],
 172040: ['63%', '37%'],
 159731: ['29%', '71%'],
 167107: ['22%', '78%'],
 75378: ['20%', '80%'],
 172031: ['23%', '18%'],
 54970: ['33%', '67%'],
 163363: nan,
 159894: ['36%', '64%'],
 177277: nan,
 18419: nan,
 172770: nan,
 192477: ['25%', '12%'],
 184237: ['0%', '0%'],
 153580: ['61%', '39%'],
 181104: ['73%', '27%'],
 184323: nan,
 142739: ['48%', '52%'],
 99752: ['50%', '50%'],
 167787: ['21%', '79%'],
 159311: ['32%', '68%'],
 184216: nan,
 180907: nan,
 192476: ['20%', '24%'],
 170851: nan,
 192473: ['100%', '0%'],
 192630: nan,
 192475: ['26%', '32%'],
 192474: ['0%', '0%'],
 177771: nan,
 154653: ['21%', '79%'],
 163533: ['50%', '50%'],
 152686: ['12%', '12%'],
 172341: nan,
 164106: ['49%', '51%'],
 152274: nan,
 152680: ['70%', '30%'],
 167602: ['28%', '72%'],
 113129: nan,
 98214: nan,
 183108: nan,
 179900: nan,
 184202: nan,
 159342: nan,
 165638: nan,
 184303: nan,
 210874: nan,
 165637: nan,
 159341: nan,
 85140: nan,
 103577: nan,
 136547: nan,
 121799: nan,
 16707: ['0%', '100%'],
 88431: nan,
 152344: ['59%', '41%'],
 192472: nan,
 182599: nan,
 182051: nan,
 190056: nan,
 163817: ['25%', '24%'],
 173833: ['42%', '58%'],
 137011: nan,
 158117: nan,
 99700: nan,
 121034: nan,
 181295: nan,
 111991: nan,
 107365: nan,
 144983: ['23%', '5%'],
 168068: nan,
 43310: nan,
 182047: ['0%', '33%'],
 171531: nan,
 157297: ['58%', '42%'],
 172420: ['40%', '60%'],
 181926: nan,
 152669: ['100%', '29%'],
 154437: ['28%', '72%'],
 179317: nan,
 182057: ['16%', '39%'],
 163744: ['100%', '17%'],
 140010: ['37%', '63%'],
 170581: nan,
 168026: nan,
 179871: nan,
 182729: ['27%', '29%'],
 153687: ['53%', '47%'],
 96967: ['50%', '50%'],
 134880: ['21%', '13%'],
 192471: ['20%', '0%'],
 175362: nan,
 111574: nan,
 173884: ['33%', '67%'],
 179012: nan,
 167697: ['42%', '58%'],
 179097: nan,
 176622: ['100%', '9%'],
 167056: nan,
 172980: ['75%', '25%'],
 178054: nan,
 182005: ['43%', '11%'],
 143416: ['37%', '63%'],
 171475: ['25%', '34%'],
 156417: ['29%', '71%'],
 153279: ['22%', '78%'],
 145342: nan,
 178097: ['41%', '59%'],
 172752: ['15%', '38%'],
 127394: ['26%', '15%'],
 165321: ['26%', '74%'],
 126133: nan,
 92530: nan,
 149730: ['22%', '34%'],
 158652: ['33%', '67%'],
 174596: nan,
 132631: nan,
 145805: nan,
 176733: nan,
 49862: nan,
 113340: nan,
 127461: nan,
 181574: ['0%', '0%'],
 177134: nan,
 172447: nan,
 155715: ['39%', '61%'],
 159830: ['61%', '39%'],
 199864: ['21%', '17%'],
 158124: nan,
 89009: nan,
 168059: ['40%', '60%'],
 182513: ['20%', '0%'],
 177397: ['19%', '16%'],
 178751: ['25%', '21%'],
 195681: ['50%', '50%'],
 179868: nan,
 168479: ['100%', '11%'],
 176902: nan,
 171538: ['26%', '21%'],
 168018: ['32%', '14%'],
 192470: nan,
 31234: ['20%', '20%'],
 142324: ['62%', '38%'],
 156091: ['50%', '50%'],
 175099: nan,
 148847: nan,
 180005: nan,
 182597: nan,
 157500: ['20%', '80%'],
 133129: ['47%', '53%'],
 140731: ['58%', '42%'],
 172167: nan,
 172769: ['17%', '33%'],
 113624: nan,
 109906: ['51%', '49%'],
 171490: ['28%', '72%'],
 163846: ['17%', '22%'],
 47174: nan,
 167581: nan,
 178096: ['26%', '24%'],
 169218: ['25%', '33%'],
 128293: nan,
 133424: ['40%', '60%'],
 172771: ['20%', '27%'],
 191370: nan,
 57723: ['58%', '42%'],
 36344: ['25%', '30%'],
 58085: ['23%', '33%'],
 35628: ['26%', '25%'],
 32610: ['25%', '36%'],
 48747: ['24%', '36%'],
 66510: ['25%', '31%'],
 191367: nan,
 37235: ['27%', '39%'],
 34501: ['23%', '28%'],
 73285: ['35%', '25%'],
 89873: ['18%', '40%'],
 146407: ['67%', '33%'],
 35939: ['50%', '50%'],
 37261: ['28%', '25%'],
 49529: ['29%', '21%'],
 121090: ['43%', '57%'],
 91391: ['36%', '19%'],
 35938: ['21%', '39%'],
 89606: ['23%', '33%'],
 34971: ['25%', '41%'],
 36451: ['27%', '39%'],
 62566: ['21%', '36%'],
 158885: ['16%', '84%'],
 50932: ['23%', '30%'],
 152656: ['45%', '55%'],
 30037: nan,
 36956: ['32%', '28%'],
 65429: ['21%', '21%'],
 39422: ['24%', '28%'],
 66002: ['26%', '38%'],
 136893: ['39%', '61%'],
 35172: ['18%', '32%'],
 88227: ['69%', '31%'],
 40033: ['25%', '23%'],
 39482: ['20%', '53%'],
 58018: ['24%', '23%'],
 41705: ['23%', '26%'],
 30984: ['22%', '30%'],
 52375: ['23%', '31%'],
 143402: ['55%', '45%'],
 83268: ['14%', '35%'],
 143937: ['24%', '17%'],
 45416: ['20%', '33%'],
 51076: ['21%', '36%'],
 149512: ['51%', '49%'],
 55405: ['19%', '39%'],
 158692: nan,
 164966: nan,
 192469: ['33%', '33%'],
 172970: nan,
 151196: ['29%', '71%'],
 158631: ['47%', '53%'],
 179746: nan,
 156910: nan,
 146489: ['25%', '75%'],
 178856: nan,
 74650: nan,
 169666: nan,
 172488: nan,
 162853: nan,
 168039: nan,
 158700: ['14%', '27%'],
 178416: nan,
 143373: ['29%', '71%'],
 145376: ['28%', '72%'],
 191581: nan,
 143460: ['41%', '59%'],
 192468: ['17%', '17%'],
 178456: ['38%', '62%'],
 152268: ['36%', '15%'],
 110333: ['63%', '37%'],
 168036: ['55%', '45%'],
 163812: ['17%', '24%'],
 15530: ['38%', '50%'],
 34316: nan,
 41118: nan,
 27540: nan,
 62787: nan,
 26940: nan,
 42173: nan,
 172799: nan,
 152249: ['56%', '44%'],
 92079: nan,
 185267: ['47%', '53%'],
 181286: ['82%', '18%'],
 165461: ['42%', '58%'],
 152183: ['46%', '54%'],
 164102: ['25%', '75%'],
 160720: ['18%', '82%'],
 152486: ['13%', '87%'],
 155228: ['60%', '40%'],
 156930: ['50%', '50%'],
 147835: ['100%', '27%'],
 172188: nan,
 10006: ['25%', '18%'],
 101966: ['40%', '60%'],
 47528: ['21%', '20%'],
 66463: ['23%', '14%'],
 45649: ['22%', '17%'],
 149516: ['22%', '78%'],
 134899: ['36%', '64%'],
 151117: ['27%', '73%'],
 138601: ['22%', '78%'],
 147368: ['11%', '36%'],
 161850: ['37%', '63%'],
 58088: ['20%', '27%'],
 130787: ['57%', '43%'],
 36727: ['20%', '26%'],
 34322: nan,
 10852: nan,
 16846: ['11%', '44%'],
 92877: nan,
 60789: ['28%', '24%'],
 75882: nan,
 165830: nan,
 169650: ['24%', '16%'],
 41613: nan,
 73799: nan,
 137887: ['31%', '22%'],
 60484: ['22%', '28%'],
 17416: ['28%', '14%'],
 29354: ['27%', '9%'],
 38281: ['35%', '14%'],
 175470: nan,
 199878: nan,
 10245: ['34%', '21%'],
 168244: nan,
 201339: nan,
 178454: nan,
 100205: ['57%', '43%'],
 170794: nan,
 158664: nan,
 152628: nan,
 174933: nan,
 16516: ['29%', '22%'],
 112014: nan,
 123613: nan,
 127378: ['22%', '78%'],
 164946: nan,
 157532: nan,
 181927: ['29%', '29%'],
 146231: nan,
 164277: nan,
 158092: nan,
 152692: nan,
 47494: ['22%', '11%'],
 144130: ['27%', '73%'],
 154273: ['88%', '12%'],
 117400: nan,
 176596: ['30%', '24%'],
 171483: nan,
 85579: ['45%', '55%'],
 74689: nan,
 175092: ['20%', '24%'],
 116233: ['57%', '43%'],
 175111: nan,
 184215: ['15%', '29%'],
 190718: ['0%', '100%'],
 28581: nan,
 174919: ['0%', '100%'],
 12780: nan,
 167389: nan,
 37838: ['21%', '30%'],
 88225: ['24%', '33%'],
 194372: nan,
 194871: nan,
 162854: ['29%', '71%'],
 173828: nan,
 166463: ['100%', '25%'],
 168010: ['17%', '8%'],
 206029: nan,
 180335: nan,
 173213: nan,
 170798: nan,
 163832: ['25%', '75%'],
 162963: nan,
 44911: ['41%', '59%'],
 168746: nan,
 178458: nan,
 140647: ['54%', '46%'],
 171485: nan,
 171536: ['20%', '47%'],
 153651: ['52%', '48%'],
 171493: ['0%', '50%'],
 174342: nan,
 30056: nan,
 26821: nan,
 174343: nan,
 164918: ['0%', '50%'],
 47429: nan,
 164719: ['32%', '68%'],
 15919: nan,
 157340: nan,
 152694: ['41%', '59%'],
 172841: nan,
 172844: nan,
 152646: ['100%', '23%'],
 10651: ['11%', '33%'],
 58538: ['25%', '18%'],
 16494: ['19%', '27%'],
 167733: nan,
 10469: ['21%', '18%'],
 146415: nan,
 172833: ['0%', '0%'],
 155420: nan,
 129098: nan,
 163824: ['100%', '26%'],
 158861: nan,
 172824: ['50%', '25%'],
 144944: ['59%', '41%'],
 178452: ['20%', '28%'],
 156565: ['67%', '33%'],
 187981: ['19%', '28%'],
 188909: ['59%', '41%'],
 154236: ['26%', '17%'],
 143409: ['32%', '68%'],
 98901: nan,
 167743: ['9%', '23%'],
 124227: ['40%', '20%'],
 154206: ['29%', '71%'],
 134811: nan,
 153964: ['66%', '34%'],
 144379: ['31%', '69%'],
 127374: ['64%', '36%'],
 172475: nan,
 169651: nan,
 158854: nan,
 65722: ['25%', '34%'],
 167311: nan,
 137890: ['54%', '46%'],
 156461: nan,
 172074: ['0%', '0%'],
 155256: ['60%', '40%'],
 181949: nan,
 167061: ['22%', '11%'],
 158632: ['13%', '13%'],
 163813: ['19%', '19%'],
 168551: ['33%', '67%'],
 168931: nan,
 159798: nan,
 151746: ['33%', '17%'],
 171512: ['25%', '25%'],
 159156: nan,
 157178: ['56%', '44%'],
 182578: ['56%', '44%'],
 152243: ['0%', '33%'],
 171037: nan,
 194471: ['30%', '40%'],
 164939: nan,
 124025: ['51%', '49%'],
 125802: ['41%', '59%'],
 144272: ['100%', '0%'],
 129406: ['36%', '64%'],
 144943: ['48%', '52%'],
 160115: nan,
 40133: ['30%', '21%'],
 149122: nan,
 144958: ['83%', '17%'],
 124205: ['50%', '50%'],
 158886: nan,
 119966: ['43%', '57%'],
 45921: ['33%', '29%'],
 97693: ['23%', '37%'],
 129051: ['51%', '49%'],
 144188: ['100%', '31%'],
 106522: ['39%', '61%'],
 140226: nan,
 107374: ['43%', '57%'],
 149027: ['100%', '21%'],
 124041: ['50%', '50%'],
 142242: ['45%', '55%'],
 115366: ['34%', '66%'],

In [99]:
crawled[312662] = np.nan

In [100]:
len(crawled)

1824

In [90]:
code_list[1234]

312662

In [91]:
audience_df[audience_df.code == 312662]

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
1234,312662,강대호,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
code = 159146
driver.get(BASE_URL + POINT_SEARCH + str(code))
time.sleep(1)
html = driver.page_source
bs = BeautifulSoup(html, 'html.parser')
temp_genders = bs.find_all('tspan')

In [74]:
temp_genders

[<tspan dy="4.666665842868824" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">38%</tspan>,
 <tspan dy="4.666664311550107" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">62%</tspan>]

In [104]:
audience_df = pd.read_csv('../../data/crawling_audience_review.csv')
audience_df

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN
1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,NaN
2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","['58%', '42%']"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,NaN
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,NaN
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]",NaN
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,NaN
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
code_list = audience_df.code.tolist()

In [54]:
len(code_list)

1824

In [60]:
audience_genders = {}

driver = webdriver.Chrome(executable_path='./chromedriver')

for code in code_list[:10]:
    driver.get(BASE_URL + POINT_SEARCH + str(code))
    time.sleep(1)
    html = driver.page_source
    bs = BeautifulSoup(html, 'html.parser')
    temp_genders = bs.find_all('tspan')
    if len(temp_genders) <= 5:
        print(code)
        num_per_genders = np.nan
    else:
        num_per_genders = [element.text for element in temp_genders[:2]]
    audience_genders[code] = num_per_genders

203096
17997
195979
138113
156023
151155

In [82]:
audience_genders

{130267: ['100%'],
 159146: ['38%', '62%'],
 145376: ['28%', '72%'],
 160720: ['18%', '82%'],
 156930: ['50%', '50%'],
 159785: ['67%', '33%'],
 72058: ['12%', '88%'],
 35901: ['65%', '35%'],
 109905: ['58%', '42%'],
 74027: ['52%', '48%'],
 181030: ['58%', '42%'],
 144271: ['67%', '33%'],
 129012: ['48%', '52%'],
 103331: ['30%', '70%'],
 124212: ['55%', '45%'],
 67769: ['58%', '42%'],
 130041: ['29%', '71%'],
 136007: ['45%', '55%'],
 118917: ['46%', '54%'],
 109955: ['46%', '54%'],
 193839: ['63%', '37%'],
 104478: ['60%', '40%'],
 127865: ['54%', '46%'],
 130983: ['36%', '64%'],
 129331: ['42%', '58%'],
 129049: ['56%', '44%'],
 122469: ['66%', '34%'],
 192121: ['50%', '50%'],
 106557: ['34%', '66%'],
 129333: ['59%', '41%'],
 95541: ['50%', '50%'],
 172819: ['30%', '70%'],
 117802: ['60%', '40%'],
 122596: ['22%', '78%'],
 118980: ['33%', '67%'],
 90596: ['58%', '42%'],
 15899: ['36%', '64%'],
 127335: ['73%', '27%'],
 69956: ['64%', '36%'],
 107352: ['44%', '56%'],
 118950: ['51%', '49%'],
 19303: ['100%', '21%'],
 18781: ['26%', '74%'],
 103708: ['34%', '66%'],
 32686: ['32%', '68%'],
 101961: ['76%', '24%'],
 94187: ['58%', '42%'],
 73318: ['100%', '23%'],
 112039: ['42%', '58%'],
 101236: ['54%', '46%'],
 117790: ['45%', '55%'],
 105521: ['41%', '59%'],
 88426: ['50%', '50%'],
 122535: ['51%', '49%'],
 120123: ['49%', '51%'],
 93739: ['46%', '54%'],
 108225: ['49%', '51%'],
 112079: ['55%', '45%'],
 93028: ['58%', '42%'],
 99096: ['54%', '46%'],
 61101: ['40%', '60%'],
 109778: ['53%', '47%'],
 87309: ['35%', '65%'],
 114249: ['53%', '47%'],
 190727: ['56%', '44%'],
 122473: ['52%', '48%'],
 127321: ['28%', '72%'],
 146212: ['73%', '27%'],
 109982: ['57%', '43%'],
 195970: ['78%', '22%'],
 125841: ['31%', '69%'],
 45290: ['59%', '41%'],
 118909: ['58%', '42%'],
 72524: ['50%', '50%'],
 178654: ['62%', '38%'],
 164115: ['27%', '73%'],
 113377: ['55%', '45%'],
 109095: ['32%', '68%'],
 16792: ['75%', '25%'],
 149248: ['50%', '50%'],
 109169: ['47%', '53%'],
 100676: ['50%', '50%'],
 94829: ['60%', '40%'],
 137908: ['53%', '47%'],
 113348: ['50%', '50%'],
 118397: ['57%', '43%'],
 99740: ['59%', '41%'],
 191929: ['50%', '50%'],
 92075: ['47%', '53%'],
 52555: ['12%', '88%'],
 90589: ['64%', '36%'],
 66158: ['42%', '58%'],
 118367: ['53%', '47%'],
 12787: ['29%', '71%'],
 125438: ['38%', '62%'],
 137327: ['77%', '23%'],
 155411: ['54%', '46%'],
 160749: ['52%', '48%'],
 162824: ['41%', '59%'],
 125494: ['68%', '32%'],
 97631: ['56%', '44%'],
 72054: ['81%', '19%'],
 18878: ['54%', '46%'],
 91192: ['64%', '36%'],
 103765: ['35%', '65%'],
 97858: ['44%', '56%'],
 97612: ['39%', '61%'],
 189150: ['60%', '40%'],
 100691: ['61%', '39%'],
 103324: ['29%', '71%'],
 95203: ['22%', '78%'],
 78726: ['100%', '25%'],
 124290: ['32%', '68%'],
 86335: ['100%', '28%'],
 32667: ['67%', '33%'],
 10546: ['25%', '75%'],
 11031: ['100%', '23%'],
 119457: ['30%', '70%'],
 51777: ['100%', '29%'],
 25670: ['19%', '81%'],
 98279: ['50%', '50%'],
 95334: ['20%', '80%'],
 107923: ['49%', '51%'],
 102648: ['45%', '55%'],
 119412: ['57%', '43%'],
 12918: ['33%', '67%'],
 31565: ['38%', '62%'],
 76020: ['31%', '69%'],
 66464: ['100%', '21%'],
 78845: ['38%', '62%'],
 31940: ['45%', '55%'],
 47321: ['29%', '71%'],
 96031: ['24%', '76%'],
 64686: ['40%', '60%'],
 89757: ['44%', '56%'],
 74610: ['39%', '61%'],
 52515: ['51%', '49%'],
 169643: ['19%', '81%'],
 150688: ['22%', '78%'],
 39809: ['71%', '29%'],
 66091: ['32%', '68%'],
 82283: ['100%', '18%'],
 62586: ['70%', '30%'],
 37439: ['67%', '33%'],
 85141: ['100%', '33%'],
 104426: ['58%', '42%'],
 97692: ['35%', '65%'],
 123630: ['63%', '37%'],
 17159: ['46%', '54%'],
 109193: ['33%', '67%'],
 132626: ['25%', '75%'],
 10002: ['45%', '55%'],
 59075: ['58%', '42%'],
 10003: ['52%', '48%'],
 80219: ['47%', '53%'],
 118966: ['22%', '78%'],
 92069: ['68%', '32%'],
 142201: ['100%', '15%'],
 76651: ['31%', '69%'],
 100643: ['44%', '56%'],
 17173: ['56%', '44%'],
 37937: ['29%', '71%'],
 49336: ['32%', '68%'],
 87556: ['69%', '31%'],
 86843: ['29%', '71%'],
 52553: ['41%', '59%'],
 34225: ['33%', '67%'],
 38227: ['48%', '52%']}

In [83]:
audience_df

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN
1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,NaN
2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","['58%', '42%']"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,NaN
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,NaN
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]",NaN
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,NaN
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
temp_df

       code num_per_genders
0     72058             NaN
1     10440             NaN
2     35901             NaN
3    150829             NaN
4    152700             NaN
..      ...             ...
584   72043             NaN
585   77566             NaN
586   38227             NaN
587   74567             NaN
588   38572             NaN

[589 rows x 2 columns]

In [110]:
temp_df = pd.DataFrame(columns=['code', 'num_per_genders'])
temp_df['code'] = crawled.keys()
temp_df['num_per_genders'] = crawled.values()

audience_df = pd.merge(audience_df, temp_df, how='outer', on='code')
audience_df

C:\Users\sorye\anaconda3\lib\site-packages\numpy\core\_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,"[23%, 19%]"
1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,"[20%, 23%]"
2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","[58%, 42%]"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,"[27%, 30%]"
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,"[20%, 18%]"
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]","[48%, 52%]"
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,"[18%, 22%]"
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,"[20%, 23%]"

In [112]:
audience_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1824 entries, 0 to 1823
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code             1824 non-null   int64
 1   korean_title     1824 non-null   object
 2   num_of_audience  594 non-null    object
 3   key_review       594 non-null    object
 4   score_male       594 non-null    float64
 5   score_female     594 non-null    float64
 6   scores_per_age   594 non-null    object
 7   num_per_genders  1198 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 128.2+ KB

In [116]:
audience_df.to_csv('./crawled.csv', index=False)

In [117]:
df = pd.read_csv('./crawled.csv')

In [119]:
df.tail(30)

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
1794,29102,에린 브로코비치,NaN,NaN,NaN,NaN,NaN,"['20%', '36%']"
1795,46752,스텝 브라더스,NaN,NaN,NaN,NaN,NaN,NaN
1796,11300,비틀쥬스,NaN,NaN,NaN,NaN,NaN,NaN
1797,26677,경찰서를 털어라,NaN,NaN,NaN,NaN,NaN,"['20%', '35%']"
1798,46753,하우스 버니,NaN,NaN,NaN,NaN,NaN,NaN
1799,87556,올드보이,16,이 영화는 30대 남성이 좋아하는 연기가 뛰어난 영화입니다.,6.82,5.00,"[0.0, 7.0, 5.67, 0.0, 0.0]","['69%', '31%']"
1800,30786,브링 잇 온,NaN,NaN,NaN,NaN,NaN,"['18%', '20%']"
1801,74451,배드 티처,NaN,NaN,NaN,NaN,NaN,"['14%', '59%']"
1802,82014,S.W.A.T.: 파이어 파이트,NaN,NaN,NaN,NaN,NaN,NaN
1803,40211,영화 이누야샤: 시대를 넘어선 마음,NaN,NaN,NaN,NaN,NaN,NaN
1804,102241,투 마더스,NaN,NaN,NaN,NaN,NaN,"['16%', '27%']"
1805,154212,아지즈 안사리: 메디슨 스퀘어 가든 라이브,NaN,NaN,NaN,NaN,NaN,NaN
1806,86843,케빈에 대하여,7,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,8.00,9.60,"[0.0, 9.2, 9.0, 0.0, 0.0]","['29%', '71%']"
1807,52553,향수 - 어느 살인자의 이야기,66,이 영화는 20대 남성이 좋아하는 연출이 뛰어난 영화입니다.,8.93,9.05,"[9.33, 9.16, 8.79, 8.33, 7.5]","['41%', '59%']"
1808,17458,센스 앤 센서빌리티,NaN,NaN,NaN,NaN,NaN,"['20%', '28%']"
1809,34225,워크 투 리멤버,3,이 영화는 10대 여성이 좋아하는 연기가 뛰어난 영화입니다.,9.00,10.00,"[10.0, 9.5, 0.0, 0.0, 0.0]","['33%', '67%']"
1810,68437,월드 인베이젼,NaN,NaN,NaN,NaN,NaN,"['31%', '21%']"
1811,72062,이지 A,NaN,NaN,NaN,NaN,NaN,NaN
1812,39846,찰리와 초콜릿 공장,NaN,NaN,NaN,NaN,NaN,"['24%', '20%']"
1813,18865,티벳에서의 7년,NaN,NaN,NaN,NaN,NaN,"['22%', '20%']"
1814,31068,6번째 날,NaN,NaN,NaN,NaN,NaN,"['37%', '15%']"
1815,29712,와호장룡,NaN,NaN,NaN,NaN,NaN,"['26%', '20%']"
1816,43574,영화 이누야샤: 붉은 연꽃의 호우라이섬,NaN,NaN,NaN,NaN,NaN,NaN
1817,36755,블레이드 3,NaN,NaN,NaN,NaN,NaN,"['23%', '27%']"
1818,91505,호스텔 3,NaN,NaN,NaN,NaN,NaN,NaN
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,"['27%', '30%']"
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,"['20%', '18%']"
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]","['48%', '52%']"
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,"['18%', '22%']"
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,"['20%', '23%']"

# 연습 공간

In [43]:
point_url = get_point_url(130267)
html_selector(point_url, '')

TypeError: html_selector() missing 1 required positional argument: 'query'

In [278]:
point_url = get_point_url(CODE)
netizen_elements = html_selector(point_url, '.grade_audience > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
score = netizen_elements[0].attrs['style'].split(':')[1]
num_netizen = html_selector(point_url, '.grade_audience > .title_area.grade_tit > .sc_area > .user_count > em')[0].text

In [281]:
netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[1].text
netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[1].text

In [291]:
score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[5:]]

In [288]:
def get_netizen_info(code):
    try:
        point_url = get_point_url(code)
        netizen_elements = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
        score = netizen_elements[0].attrs['style'].split(':')[1]
    except:
        return 'error'

    num_netizen = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .user_count > em')[0].text
    key_review = html_selector(point_url, '.grp_review')[0].text
    netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[0].text
    netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[0].text
    score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[:5]]
    
    return {'code': code, 'num_of_netizen': num_netizen, 'key_review': key_review, 'score_male': netizen_male, 'score_female': netizen_female, 'scores_per_age': score_list}

In [66]:
point_url = html_parser(BASE_URL + POINT_SEARCH + str(31307))
netizen_elements = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
# netizen_score = html_selector(netizen_elements, '.star_score > .st_off > .st_on')
score = netizen_elements[0].attrs['style'].split(':')[1]
num_netizen = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .user_count > em')[0].text

'1,747'

In [70]:
key_review = html_selector(point_url, '.grp_review')[0].text

In [84]:
netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[0].text
netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[0].text

In [88]:
score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')]
score_list

[9.04, 8.93, 9.07, 8.78, 8.73]

In [18]:
# example: google search
# driver.get("http://www.google.com")
# input_element = driver.find_element_by_name("q")
# input_element.send_keys("python")
# input_element.submit()

In [42]:
search_title = 'kingsman'
search_html = html_parser(BASE_URL + SEARCH + search_title)
search_result = html_selector(search_html, '.search_list_1 > li')
result = str(search_result[0].select('dl > dt > a'))
movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
code = movie_url.split('=')[1]

basic_html = html_parser(BASE_URL + movie_url)

search_result = html_selector(basic_html, 'h3.h_movie > a')
title = str(search_result[0]).split('>')[1].split('<')[0]

movie_result = html_selector(basic_html, 'dl.info_spec > dd')
temp_summary = movie_result[0].select('a')
director = movie_result[1].text
actors = movie_result[2].text.split(',')

In [43]:
print(code, title, temp_summary, director, actors)

159893 킹스맨: 퍼스트 에이전트 [<a href="/movie/sdb/browsing/bmovie.naver?genre=19">액션</a>, <a href="/movie/sdb/browsing/bmovie.naver?nation=GB">영국</a>, <a href="/movie/sdb/browsing/bmovie.naver?nation=US">미국</a>, <a href="/movie/sdb/browsing/bmovie.naver?open=2021"> 2021</a>, <a href="/movie/sdb/browsing/bmovie.naver?open=20211222">.12.22</a>] 매튜 본 ['랄프 파인즈(옥스포드 공작)', ' 해리스 딕킨슨(콘래드)더보기']

In [37]:
genre = list()
nation = list()
released = list()

In [45]:
for summary in temp_summary:
    c = summary.attrs['href'].split(".naver?")[1].split('=')[0]
    if c == 'genre':
        genre.append(summary.text)
    elif c == 'nation':
        nation.append(summary.text)
    elif c == 'open':
        released.append(summary.text)
    else:
        print(c)

In [46]:
genre, nation, released

(['액션', '모험', 'SF', '액션', '액션'],
 ['미국', '영국', '미국', '영국', '미국'],
 [' 2021', '.12.15', ' 2021', '.12.22', ' 2021', '.12.22'])

In [57]:
''.join(released)

' 2021.12.15 2021.12.22 2021.12.22'

In [41]:
movie_df

Empty DataFrame
Columns: [code, korean_title, english_title, genre_list, country, runtime, released_date, director, actors]
Index: []

In [68]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=스파이더맨"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
search_result_list = soup.select(
    '.search_list_1 > li'
    )
temp = str(search_result_list[0].select('dl > dt > a'))

In [79]:
temp.split("href=")[1].split(">")[0].replace('"', '')

'/movie/bi/mi/basic.naver?code=208077'

In [ ]:
def search_naver_movie(title):
    req = requests.get(BASE_URL + SEARCH + title)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    search_result_list = soup.select('.search_list_1 > li')
    result = str(search_result_list[0].select('dl > dt > a'))
    movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
    
    req = requests.get(BASE_URL + movie_url)
    html = req.text

In [97]:
# movie_data_set = {'code': 0, 'title': '', 'genre_list': [], 'country': [], 'runtime': '', 'released_date': '', 'director': '', 'actors': []}

In [125]:
movie_df # -> korean title, english title

Empty DataFrame
Columns: [code, korean_title, english_title, genre_list, country, runtime, released_date, director, actors]
Index: []

In [127]:
netizen_df

Empty DataFrame
Columns: [code, korean_title, num_of_netizen, key-review, score_male, score_female, scores_per_age]
Index: []

In [128]:
audience_df # -> 영민님이 말씀하신 부분 추가

Empty DataFrame
Columns: [code, korean_title, num_of_netizen, key-review, score_male, score_female, scores_per_age]
Index: []

In [174]:
temp_summary[0]

In [162]:
list(map(lambda x: x.text, list(temp_summary)))

['액션', '모험', 'SF', '미국', ' 2021', '.12.15']

In [59]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=트랜스포머"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
my_titles = soup.select(
    '.search_list_1 > li'
    )
my_titles[0].select('dl > dt > a')

In [60]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=시월애"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
my_titles = soup.select(
    '.search_list_1 > li'
    )
my_titles[0].select('dl > dt > a')

In [35]:
driver = webdriver.Chrome(executable_path='./chromedriver')
driver.get(BASE_URL)
input_element = driver.find_element_by_class_name("search_list_1")
print(input_element.text)

스파이더맨: 노 웨이 홈 (Spider-Man: No Way Home)
9.02 (참여 14650명)
액션, 모험, SF| 미국|148분 |2021
감독 : 존 왓츠|출연 : 톰 홀랜드, 젠데이아 콜먼, 베네딕트 컴버배치, 존 파브로, 제이콥 배덜런, 마리사 토메이, 알프리드 몰리나
스파이더맨: 뉴 유니버스 (Spider-Man: Into the Spider-Verse)
9.21 (참여 5785명)
애니메이션, 액션, 가족| 미국|117분 |2018
감독 : 밥 퍼시케티, 피터 램지, 로드니 로스맨|출연 : 샤메익 무어, 헤일리 스테인펠드, 니콜라스 케이지, 제이크 존슨, 리브 슈라이버, 마허샬라 알리, 브라이언 타이리 헨리
스파이더맨 (Spider-Man)
8.95 (참여 1741명)
액션, SF, 모험, 스릴러| 미국|121분 |2002
감독 : 샘 레이미|출연 : 토비 맥과이어, 윌렘 대포, 커스틴 던스트, 제임스 프랭코, 클리프 로버트슨, 로즈마리 해리스, J.K. 시몬스
스파이더맨 2 (Spider-Man 2)
8.80 (참여 2600명)
액션, 모험, 범죄, 멜로/로맨스, SF| 미국|126분 |2004
감독 : 샘 레이미|출연 : 토비 맥과이어, 커스틴 던스트
스파이더맨: 홈커밍 (Spider-Man: Homecoming)
8.36 (참여 18814명)
액션, 모험, SF| 미국|133분 |2017
감독 : 존 왓츠|출연 : 톰 홀랜드, 마이클 키튼

In [ ]:
def search_naver_movie(title):
    BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=스파이더맨"
    req = requests.get(BASE_URL)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    # CSS Selector를 통해 html요소들을 찾아낸다.
    search_result_list = soup.select(
        '.search_list_1 > li'
        )
    search_result_list[0]