In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import re
from wordcloud import WordCloud
import random # 워드 클라우드를 위해서 필요합니다..

import matplotlib.font_manager as fm

In [2]:
df = pd.read_csv('../data/Ver3_naver_review_analysis_altimate.csv')

In [5]:
df

,genre,average_male,average_female,average_10s,average_20s,average_30s,average_40s,average_50_up
0,drama,8.48,8.53,8.86,8.53,8.41,8.49,8.50
1,comedy,8.73,8.70,9.00,8.80,8.64,8.59,8.57
2,action,8.39,8.53,8.77,8.51,8.37,8.41,8.42
3,thriller,8.41,8.43,8.74,8.46,8.34,8.34,8.38
4,romance,8.61,8.46,8.96,8.59,8.38,8.40,8.39
5,crime,8.46,8.56,8.82,8.54,8.43,8.48,8.47
6,adventure,8.48,8.59,8.93,8.63,8.43,8.39,8.48
7,animation,8.83,8.76,9.28,8.91,8.72,8.67,8.81
8,fantasy,8.60,8.61,9.05,8.66,8.54,8.53,8.41
9,family,8.73,8.74,9.10,8.84,8.68,8.65,8.80
10,sci_fi,8.21,8.35,8.72,8.34,8.18,8.11,8.22
11,mystery,8.20,8.26,8.53,8.26,8.14,8.14,8.23
12,horror,8.24,8.22,8.46,8.26,8.17,8.19,8.18
13,documentary,9.46,9.57,9.29,9.49,9.56,9.55,9.42
14,biography,8.71,8.84,8.94,8.78,8.74,8.77,8.84
15,history,8.39,8.55,8.68,8.47,8.42,8.50,8.54
16,music,8.33,8.35,8.17,8.34,8.36,8.54,8.26
17,short,8.96,8.95,9.30,9.04,8.87,8.66,8.61
18,sport,6.97,7.60,7.15,7.31,7.25,7.25,7.77
19,war,8.45,8.73,8.79,8.57,8.48,8.64,8.68
20,musical,8.63,8.72,8.84,8.79,8.66,8.69,8.58
21,western,7.97,7.92,7.94,8.05,7.79,7.88,8.00

In [13]:
transposed_df = df.T
transposed_df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
genre,drama,comedy,action,thriller,romance,crime,adventure,animation,fantasy,family,...,horror,documentary,biography,history,music,short,sport,war,musical,western
average_male,8.48,8.73,8.39,8.41,8.61,8.46,8.48,8.83,8.6,8.73,...,8.24,9.46,8.71,8.39,8.33,8.96,6.97,8.45,8.63,7.97
average_female,8.53,8.7,8.53,8.43,8.46,8.56,8.59,8.76,8.61,8.74,...,8.22,9.57,8.84,8.55,8.35,8.95,7.6,8.73,8.72,7.92
average_10s,8.86,9.0,8.77,8.74,8.96,8.82,8.93,9.28,9.05,9.1,...,8.46,9.29,8.94,8.68,8.17,9.3,7.15,8.79,8.84,7.94
average_20s,8.53,8.8,8.51,8.46,8.59,8.54,8.63,8.91,8.66,8.84,...,8.26,9.49,8.78,8.47,8.34,9.04,7.31,8.57,8.79,8.05
average_30s,8.41,8.64,8.37,8.34,8.38,8.43,8.43,8.72,8.54,8.68,...,8.17,9.56,8.74,8.42,8.36,8.87,7.25,8.48,8.66,7.79
average_40s,8.49,8.59,8.41,8.34,8.4,8.48,8.39,8.67,8.53,8.65,...,8.19,9.55,8.77,8.5,8.54,8.66,7.25,8.64,8.69,7.88
average_50_up,8.5,8.57,8.42,8.38,8.39,8.47,8.48,8.81,8.41,8.8,...,8.18,9.42,8.84,8.54,8.26,8.61,7.77,8.68,8.58,8.0

In [14]:
transposed_df.columns = transposed_df.iloc[0]

In [18]:
transposed_df = transposed_df.drop(['genre'])

KeyError: "['genre'] not found in axis"

In [19]:
transposed_df

genre,drama,comedy,action,thriller,romance,crime,adventure,animation,fantasy,family,...,horror,documentary,biography,history,music,short,sport,war,musical,western
average_male,8.48,8.73,8.39,8.41,8.61,8.46,8.48,8.83,8.6,8.73,...,8.24,9.46,8.71,8.39,8.33,8.96,6.97,8.45,8.63,7.97
average_female,8.53,8.7,8.53,8.43,8.46,8.56,8.59,8.76,8.61,8.74,...,8.22,9.57,8.84,8.55,8.35,8.95,7.6,8.73,8.72,7.92
average_10s,8.86,9.0,8.77,8.74,8.96,8.82,8.93,9.28,9.05,9.1,...,8.46,9.29,8.94,8.68,8.17,9.3,7.15,8.79,8.84,7.94
average_20s,8.53,8.8,8.51,8.46,8.59,8.54,8.63,8.91,8.66,8.84,...,8.26,9.49,8.78,8.47,8.34,9.04,7.31,8.57,8.79,8.05
average_30s,8.41,8.64,8.37,8.34,8.38,8.43,8.43,8.72,8.54,8.68,...,8.17,9.56,8.74,8.42,8.36,8.87,7.25,8.48,8.66,7.79
average_40s,8.49,8.59,8.41,8.34,8.4,8.48,8.39,8.67,8.53,8.65,...,8.19,9.55,8.77,8.5,8.54,8.66,7.25,8.64,8.69,7.88
average_50_up,8.5,8.57,8.42,8.38,8.39,8.47,8.48,8.81,8.41,8.8,...,8.18,9.42,8.84,8.54,8.26,8.61,7.77,8.68,8.58,8.0

In [20]:
transposed_df.to_csv('../data/T_droped_Ver3_naver_review_analysis_altimate.csv', sep=',', encoding='utf-8-sig')

In [7]:
# df.T.to_csv('../data/T_Ver3_naver_review_analysis_altimate.csv', sep=',', encoding='utf-8-sig')