# 변경 X

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
import time

# 넷플릭스 한국 데이터 가져오기

In [2]:
nf_df = pd.read_csv('../data/korea_netflix.csv')

In [3]:
korea_netflix_df = nf_df.copy()
korea_netflix_df = korea_netflix_df.rename(columns={'Unnamed: 0':'original index'})
# korea_netflix_df = korea_netflix_df.drop(df.columns[0], axis=1)
korea_netflix_df.head()

,original index,Title,Release Date,Series or Movies,drama,comedy,action,thriller,romance,crime,...,music,short,sport,war,musical,reality-tv,western,game-show,talk-show,Title for Crawling
0,4,Moxie,2011-09-22,Movie,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,moxie
1,27,Comrades Almost a Love Story,1996-11-02,Movie,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,comradesalmostalovestory
2,28,The Closet,2001-08-10,Movie,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,thecloset
3,53,The Bold Type,2017-06-20,Series,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,theboldtype
4,55,Lobster Cop,2018-06-22,Movie,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,lobstercop

- title_for_crawling_list 로 크롤링

In [ ]:
title_for_crawling_list = korea_netflix_df[korea_netflix_df['Series or Movies']=='Movie']['Title for Crawling'].values.tolist()
title_for_crawling_list

In [4]:
BASE_URL = "https://movie.naver.com"
SEARCH = "/movie/search/result.naver?query="
POINT_SEARCH = "/movie/bi/mi/point.naver?code="

In [5]:
movie_df = pd.DataFrame(columns=['code', 'korean_title', 'english_title', 'genre_list', 'country', 'released_date', 'director', 'actors'])

In [6]:
def html_parser(url):
    req = requests.get(url)
    return req.text

In [7]:
def html_selector(html, query):
    soup = BeautifulSoup(html, 'html.parser')
    return soup.select(query)

In [8]:
def get_point_url(code):
    return html_parser(BASE_URL + POINT_SEARCH + str(code))

# 영화 정보 크롤링

code, 한국 제목, 장르, 국가, 개봉일(null값있음), director, actors(의미없는 값 있음)

개봉일과 actors는 1.5만 데이터에서도 확인할 수 있으므로 더 이상 디테일은 잡지 않았습니다.

ENG_TITLE_LIST에 영화 제목들을 담아주시면 되는데, 띄어쓰기는 모두 replace 또는 strip으로 없애주세요!

대소문자는 상관없습니다.

In [9]:
def get_movie_info(search_title):
#     print(search_title)
    try:
        search_html = html_parser(BASE_URL + SEARCH + search_title)
        search_result = html_selector(search_html, '.search_list_1 > li')
        # 가장 첫 번째로 나온 결과만을 가져감
        result = str(search_result[0].select('dl > dt > a'))
    except:
        return 'error'

    movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
    code = movie_url.split('=')[1]

    basic_html = html_parser(BASE_URL + movie_url)

    search_result = html_selector(basic_html, 'h3.h_movie > a')
    title = str(search_result[0]).split('>')[1].split('<')[0]

    movie_result = html_selector(basic_html, 'dl.info_spec > dd')
    temp_summary = movie_result[0].select('a')
    director = movie_result[1].text
    actors = movie_result[2].text.split(',')
    
    genre_list = list()
    nation_list = list()
    released = list()
    for summary in temp_summary:
        c = summary.attrs['href'].split(".naver?")[1].split('=')[0]

        if c == 'genre':
            genre_list.append(summary.text)
        elif c == 'nation':
            nation_list.append(summary.text)
        elif c == 'open':
            released.append(summary.text)
        else:
            print(c)
    
    return {'code': code, 'korean_title': title, 'english_title': search_title, 'genre_list': genre_list, 'country': nation_list, 'released_date': ''.join(released), 'director': director, 'actors': actors}

In [ ]:
target_index = title_for_crawling_list.index('operationchristmasdrop')
print(target_index)
korea_netflix_df[korea_netflix_df['Series or Movies']=='Movie'].iloc[[target_index], :]

- error at if loop에서 걸린 영화 : 넷플릭스 영화가 대부분
- error at except에서 걸린 영화 : 네이버 무비에 등록은 되어 있는데 국내 개봉 안됨 등의 이유로 평점정보가 (일부) 없는 경우

- 예외: thethreelittlepigs 같은 경우 The Three Little Pigs and KungFu Land 로 검색하면 나오긴 하는데 if loop에서 걸림.

In [ ]:
# 예시
# ENG_TITLE_LIST = ['kingsman', 'spiderman', 'HOWTOBUILDAGIRL', 'Centigrade', 'LetsFightGhost', 'Moxie']


# ENG_TITLE_LIST = title_for_crawling_list

In [ ]:
'''
print로 나온 친구들은 크롤링에 실패한 아이들입니다. 무슨 이유인지 간혹 있더라구요.
목록 다시 넘겨주시면 이유를 제가 다시 한 번 확인해보겠습니다!
'''

error_at_if = list()
error_at_except = list()
for i, eng_title in enumerate(ENG_TITLE_LIST):

    
    if i % 50 == 0:
        print(f'@@@@@@@@@@@@@{i+1}번째 작업 중@@@@@@@@@@@@')
    try:
        result = get_movie_info(eng_title)
        if result == 'error':
            print('error at if loop: ',eng_title)
            error_at_if.append(eng_title)
        else:
            movie_df = movie_df.append(result, ignore_index=True)
    except:
        error_at_except.append(eng_title)
        print('error at exept: ', eng_title)
        
print(f'{len(ENG_TITLE_LIST)}개 작업')
print(f'성공: {len(ENG_TITLE_LIST) - len(error_at_if) - len(error_at_except)} 개')
print(f'if에서 {len(error_at_if)}개, except에서 {len(error_at_except)}개, 총 {len(error_at_if) + len(error_at_except)} 실패')

In [10]:
movie_df

Empty DataFrame
Columns: [code, korean_title, english_title, genre_list, country, released_date, director, actors]
Index: []

####  크롤링 데이터 저장 - get_movie_info()
- 3075개 작업
- 성공: 1854 개
- if에서 880개, except에서 341개, 총 1221 실패

In [ ]:
# movie_df.to_csv('../data/crawling_movie_info.csv', sep=',', encoding='utf-8-sig')

In [ ]:
# with open("../data/failed_crawling/crawling_movie_info_failed_if.txt", "w") as output:
#     output.write(str(error_at_if))

In [ ]:
# with open("../data/failed_crawling/crawling_movie_info_failed_except.txt", "w") as output:
#     output.write(str(error_at_except))

# 네티즌 평점 크롤링

movie_df에서 가져온 code를 기준으로 다시 평점 데이터를 받아옴

아직 미개봉 영화에 대해서는 모두 NaN으로 처리

`code`: 영화코드(str)

`num_of_netizen`: 평가에 참여한 네티즌의 수(str)

`key_review`: 한 줄 리뷰(str)

`score_male`: 남자 평점(str)

`score_female`: 여자 평점(str)

`scores_per_age`: 나이별 평점(float list) (10대, 20대, 30대, 40대, 50대 이상 순)

######  get_movie_info에서 크롤링한 내용 가져오기

In [11]:
movie_df = pd.read_csv('../data/crawling_movie_info_modified.csv')
movie_df

,code,korean_title,english_title,genre_list,country,released_date,director,actors
0,203096,걸스 오브 막시,moxie,['드라마'],['미국'],NaN,에이미 포엘러,"['조세핀 랭포드', ' 패트릭 슈왈제네거더보기']"
1,17997,첨밀밀,comradesalmostalovestory,"['멜로/로맨스', '드라마']",['홍콩'],1997.03.01,진가신,"['여명(소군)', ' 장만옥(이요)더보기']"
2,181925,클로젯,thecloset,"['미스터리', '드라마']",['한국'],2020.02.05,김광빈,"['하정우(상원)', ' 김남길(경훈)', ' 허율(이나)더보기']"
3,195979,비밀경찰: 랍스터 캅,lobstercop,"['액션', '코미디']",['중국'],NaN,이흔운,"['왕첸웬', ' 원산산', ' 류화더보기']"
4,138113,매직 아워,magichour,['범죄'],['미국'],NaN,콜 뮐러,"['트레버 모건(레이)', ' 크리스 렘세(딜런 폭스)', ' 윌리엄 러스(브루스 ..."
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,thenextthreedays,"['범죄', '드라마', '멜로/로맨스', '스릴러']",['미국'],2010.12.22,폴 해기스,"['러셀 크로우(존 브레넌)', ' 엘리자베스 뱅크스(라라 브레넌)더보기']"
1820,77566,브레이킹 던 part2,thetwilightsagabreakingdawnpart2,"['드라마', '판타지', '멜로/로맨스', '스릴러']",['미국'],2012.11.15,빌 콘돈,"['크리스틴 스튜어트(벨라 컬렌)', ' 로버트 패틴슨(에드워드 컬렌)', ' 테일..."
1821,38227,첫 키스만 50번째,50firstdates,"['멜로/로맨스', '코미디']",['미국'],2017.06.22 2004.04.15,피터 시걸,"['아담 샌들러(헨리 로스)', ' 드류 베리모어(루시 윗모어)더보기']"
1822,74567,브레이킹 던 part1,thetwilightsagabreakingdawnpart1,"['드라마', '판타지', '멜로/로맨스', '스릴러']",['미국'],2011.11.30,빌 콘돈,"['크리스틴 스튜어트(벨라 스완)', ' 로버트 패틴슨(에드워드 컬렌)더보기']"
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,13goingon30,"['멜로/로맨스', '코미디', '드라마']",['미국'],2004.11.05,개리 위닉,"['제니퍼 가너(제나 링크)', ' 마크 러팔로(맷)더보기']"

In [12]:
def get_review_info(code, classification):
    
    idx = 1 if classification == 'audience' else 0
    point_url = get_point_url(code)
    
    try:
        elements = html_selector(point_url, f'.grade_{classification} > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
        score = elements[0].attrs['style'].split(':')[1]
    except:
        return 'error'

    num = html_selector(point_url, f'.grade_{classification} > .title_area.grade_tit > .sc_area > .user_count > em')[0].text
    
    
    # key_review가 없는 경우 index out of range 에러가 뜨길래 수정했습니다.
    try:
        key_review = html_selector(point_url, '.grp_review')[0].text
    except:
        key_review = None
        
    male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[idx].text
    female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[idx].text
    score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[idx*5:(idx+1)*5]]
    
    result = {'code': code, f'num_of_{classification}': num, 'key_review': key_review, 'score_male': male, 'score_female': female, 'scores_per_age': score_list}
    
    if classification == 'audience':
        num_per_ages = [element.attrs['style'].split(': ')[1] for element in html_selector(point_url, '.bar_graph > .graph_box > .graph > span')[:5]]
        result['num_per_ages'] = num_per_ages

    return result

In [13]:
netizen_df = movie_df[['code', 'korean_title']].copy()
netizen_df

        code         korean_title
0     203096             걸스 오브 막시
1      17997                  첨밀밀
2     181925                  클로젯
3     195979          비밀경찰: 랍스터 캅
4     138113                매직 아워
...      ...                  ...
1819   72043               쓰리 데이즈
1820   77566         브레이킹 던 part2
1821   38227           첫 키스만 50번째
1822   74567         브레이킹 던 part1
1823   38572  완벽한 그녀에게 딱 한가지 없는 것

[1824 rows x 2 columns]

In [ ]:
start_netizen_len = len(netizen_df['code'])
print(start_netizen_len)

In [ ]:
# ntz_count = 0

In [ ]:
# error_at_if_ntz = list()
# error_at_except_ntz = list()

# def start_netizen(x):
#     global ntz_count
#     if ntz_count % 50 == 0:
#         print(f'@@@@@@@@@@@@@{ntz_count+1}번째 작업 중@@@@@@@@@@@@')
#     try:
#         if get_review_info(x, 'netizen') != 'error':
#             get_review_info(x, 'netizen').tolist()
#             ntz_count += 1
#         else :
#             print(f'error at if loop: {x}')
#             error_at_if_ntz.append(x)
#             x = 'error'
#             ntz_count += 1
            
#     except:
#         print(f'error at except: {x}')
#         error_at_except_ntz.append(x)
#         ntz_count += 1

# print(f'{start_netizen_len}개 작업')
# print(f'성공: {start_netizen_len - len(error_at_if_ntz) - len(error_at_except_ntz)} 개')
# print(f'if에서 {len(error_at_if_ntz)}개, except에서 {len(error_at_except_ntz)}개, 총 {len(error_at_if_ntz) + len(error_at_except_ntz)} 실패')

- error at if loop: 리뷰 수가 극히 적어서 일부 데이터 없음
- error at except: 국내 개봉 안한 영화라서 리뷰 없음

- 이전에 실행할 때 netizen_df를 리셋 안하고 함수를 중복 실행해서 중복된 rows들이 500여개 가량 있었는데

   drop_duplicates로 모두 날려버렸습니다.
   
   현재 1824개

In [ ]:
data = netizen_df['code'].apply(lambda x: get_review_info(x, 'netizen') if get_review_info(x, 'netizen') != 'error' else 'error').tolist()
data = list(filter(lambda x: x != 'error', data))
temp_df = pd.DataFrame(data, columns=['code', 'num_of_netizen', 'key_review', 'score_male', 'score_female', 'scores_per_age'])
netizen_test_df = pd.merge(netizen_df, temp_df, how='outer', on='code')
netizen_test_df

- netizen_df가 현재 중복row 삭제된 완전체입니다.

In [14]:
netizen_df.head()

     code korean_title
0  203096     걸스 오브 막시
1   17997          첨밀밀
2  181925          클로젯
3  195979  비밀경찰: 랍스터 캅
4  138113        매직 아워

In [15]:
netizen_pp_df.head()

NameError: name 'netizen_pp_df' is not defined

In [16]:
netizen_pp_df = netizen_test_df.drop_duplicates(subset=['code'])

NameError: name 'netizen_test_df' is not defined

In [ ]:
netizen_pp_df = netizen_pp_df.reset_index(drop=True)

In [ ]:
netizen_pp_df

####  csv 파일로 저장

In [ ]:
# netizen_pp_df.to_csv('../data/crawling_netizen_review.csv', sep=',', encoding='utf-8-sig')

In [17]:
netizen_saved_df = pd.read_csv('../data/crawling_netizen_review.csv')
netizen_saved_df

,code,korean_title,num_of_netizen,key_review,score_male,score_female,scores_per_age
0,203096,걸스 오브 막시,140,이 영화는 20대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,6.12,9.86,"[9.76, 9.83, 8.92, 9.38, 10.0]"
1,17997,첨밀밀,"1,851",이 영화는 20대 남성이 좋아하는 연기가 뛰어난 영화입니다.,9.19,9.13,"[8.86, 9.05, 9.27, 9.48, 9.35]"
2,181925,클로젯,"6,242",이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.55,7.04,"[7.66, 6.11, 5.95, 6.11, 6.33]"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,"1,627",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,8.39,8.03,"[7.65, 8.41, 8.51, 8.34, 8.26]"
1820,77566,브레이킹 던 part2,"7,053",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.95,9.20,"[9.22, 8.59, 7.95, 8.76, 8.08]"
1821,38227,첫 키스만 50번째,"3,682",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.26,9.24,"[9.41, 9.17, 9.15, 9.22, 8.98]"
1822,74567,브레이킹 던 part1,"3,290",이 영화는 10대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.41,7.97,"[7.71, 6.25, 5.33, 6.46, 9.1]"
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,"1,170",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.80,8.78,"[8.89, 8.22, 7.86, 8.1, 8.18]"

In [18]:
netizen_saved_df.isna().sum()

code                0
korean_title        0
num_of_netizen    617
key_review        650
score_male        617
score_female      617
scores_per_age    617
dtype: int64

In [19]:
netizen_saved_modified_df = netizen_saved_df[~netizen_saved_df['num_of_netizen'].isna()]
netizen_saved_modified_df

,code,korean_title,num_of_netizen,key_review,score_male,score_female,scores_per_age
0,203096,걸스 오브 막시,140,이 영화는 20대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,6.12,9.86,"[9.76, 9.83, 8.92, 9.38, 10.0]"
1,17997,첨밀밀,"1,851",이 영화는 20대 남성이 좋아하는 연기가 뛰어난 영화입니다.,9.19,9.13,"[8.86, 9.05, 9.27, 9.48, 9.35]"
2,181925,클로젯,"6,242",이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.55,7.04,"[7.66, 6.11, 5.95, 6.11, 6.33]"
5,197517,마리오네트,121,이 영화는 40대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.42,8.25,"[10.0, 7.89, 8.28, 7.52, 6.6]"
6,155356,미쓰백,"8,671",이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,8.29,9.60,"[9.69, 9.36, 8.7, 8.55, 8.51]"
...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,"1,627",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,8.39,8.03,"[7.65, 8.41, 8.51, 8.34, 8.26]"
1820,77566,브레이킹 던 part2,"7,053",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.95,9.20,"[9.22, 8.59, 7.95, 8.76, 8.08]"
1821,38227,첫 키스만 50번째,"3,682",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.26,9.24,"[9.41, 9.17, 9.15, 9.22, 8.98]"
1822,74567,브레이킹 던 part1,"3,290",이 영화는 10대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.41,7.97,"[7.71, 6.25, 5.33, 6.46, 9.1]"
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,"1,170",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.80,8.78,"[8.89, 8.22, 7.86, 8.1, 8.18]"

- 수정된 df csv 파일로 저장

In [ ]:
# netizen_saved_modified_df.to_csv('../data/crawling_netizen_review_modified.csv', sep=',', encoding='utf-8-sig')

In [20]:
load_netizen_saved_modified_df = pd.read_csv('../data/crawling_netizen_review_modified.csv')
load_netizen_saved_modified_df

,code,korean_title,num_of_netizen,key_review,score_male,score_female,scores_per_age
0,203096,걸스 오브 막시,140,이 영화는 20대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,6.12,9.86,"[9.76, 9.83, 8.92, 9.38, 10.0]"
1,17997,첨밀밀,"1,851",이 영화는 20대 남성이 좋아하는 연기가 뛰어난 영화입니다.,9.19,9.13,"[8.86, 9.05, 9.27, 9.48, 9.35]"
2,181925,클로젯,"6,242",이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.55,7.04,"[7.66, 6.11, 5.95, 6.11, 6.33]"
3,197517,마리오네트,121,이 영화는 40대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.42,8.25,"[10.0, 7.89, 8.28, 7.52, 6.6]"
4,155356,미쓰백,"8,671",이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,8.29,9.60,"[9.69, 9.36, 8.7, 8.55, 8.51]"
...,...,...,...,...,...,...,...
1202,72043,쓰리 데이즈,"1,627",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,8.39,8.03,"[7.65, 8.41, 8.51, 8.34, 8.26]"
1203,77566,브레이킹 던 part2,"7,053",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.95,9.20,"[9.22, 8.59, 7.95, 8.76, 8.08]"
1204,38227,첫 키스만 50번째,"3,682",이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.26,9.24,"[9.41, 9.17, 9.15, 9.22, 8.98]"
1205,74567,브레이킹 던 part1,"3,290",이 영화는 10대 여성이 좋아하는 연기가 뛰어난 영화입니다.,5.41,7.97,"[7.71, 6.25, 5.33, 6.46, 9.1]"
1206,38572,완벽한 그녀에게 딱 한가지 없는 것,"1,170",이 영화는 10대 여성이 좋아하는 스토리가 뛰어난 영화입니다.,7.80,8.78,"[8.89, 8.22, 7.86, 8.1, 8.18]"

# 관람객 평점

네티즌 평점과 동일하고, 추가사항이 있음

`num_per_ages`: 나이대 별 관람객 수 비율(10대, 20대, 30대, 40대, 50대 이상 순)

`num_per_genders`: 성별 별 관람객 수 비율 (남자, 여자 순)

In [21]:
audience_df = movie_df[['code', 'korean_title']].copy()
audience_df

        code         korean_title
0     203096             걸스 오브 막시
1      17997                  첨밀밀
2     181925                  클로젯
3     195979          비밀경찰: 랍스터 캅
4     138113                매직 아워
...      ...                  ...
1819   72043               쓰리 데이즈
1820   77566         브레이킹 던 part2
1821   38227           첫 키스만 50번째
1822   74567         브레이킹 던 part1
1823   38572  완벽한 그녀에게 딱 한가지 없는 것

[1824 rows x 2 columns]

In [22]:
data = audience_df['code'].apply(lambda x: get_review_info(x, 'audience') if get_review_info(x, 'audience') != 'error' else 'error').tolist()
data = list(filter(lambda x: x != 'error', data))
temp_df = pd.DataFrame(data, columns=['code', 'num_of_audience', 'key_review', 'score_male', 'score_female', 'scores_per_age', 'num_per_ages'])
audience_df = pd.merge(audience_df, temp_df, how='outer', on='code')
audience_df

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_ages
0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN
1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,NaN
2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","[2%, 44%, 30%, 15%, 9%]"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,NaN
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,NaN
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]","[5%, 68%, 15%, 7%, 5%]"
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,NaN
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
code_list = audience_df['code'].tolist()

- 예상시간 90분 소요
- 1916i

In [25]:
audience_genders = {}

driver = webdriver.Chrome('../code/soryeongk/chromedriver.exe')
for code in code_list:
    driver.get(BASE_URL + POINT_SEARCH + str(code))
    time.sleep(3)
    html = driver.page_source
    bs = BeautifulSoup(html, 'html.parser')
    temp_genders = bs.find_all('tspan')
    if len(temp_genders) <= 5:
        num_per_genders = np.nan
    else:
        num_per_genders = [element.text for element in temp_genders[:2]]
    audience_genders[code] = num_per_genders

<ipython-input-25-6efadda32c25>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('../code/soryeongk/chromedriver.exe')

UnexpectedAlertPresentException: Alert Text: 영화 코드값 오류입니다.
Message: unexpected alert open: {Alert text : 영화 코드값 오류입니다.}
  (Session info: chrome=96.0.4664.110)
Stacktrace:
Backtrace:
	Ordinal0 [0x00276903+2517251]
	Ordinal0 [0x0020F8E1+2095329]
	Ordinal0 [0x00112848+1058888]
	Ordinal0 [0x001659FB+1399291]
	Ordinal0 [0x0015639B+1336219]
	Ordinal0 [0x001327A7+1189799]
	Ordinal0 [0x00133609+1193481]
	GetHandleVerifier [0x00405904+1577972]
	GetHandleVerifier [0x004B0B97+2279047]
	GetHandleVerifier [0x00306D09+534521]
	GetHandleVerifier [0x00305DB9+530601]
	Ordinal0 [0x00214FF9+2117625]
	Ordinal0 [0x002198A8+2136232]
	Ordinal0 [0x002199E2+2136546]
	Ordinal0 [0x00223541+2176321]
	BaseThreadInitThunk [0x7546FA29+25]
	RtlGetAppContainerNamedObjectPath [0x76F17A9E+286]
	RtlGetAppContainerNamedObjectPath [0x76F17A6E+238]
	(No symbol) [0x00000000]

In [26]:
audience_genders

{203096: nan,
 17997: nan,
 181925: ['58%', '42%'],
 195979: nan,
 138113: nan,
 197517: ['100%', '21%'],
 155356: ['36%', '64%'],
 168668: ['44%', '56%'],
 156023: nan,
 151155: nan,
 143776: ['38%', '62%'],
 168735: ['22%', '78%'],
 142683: ['25%', '75%'],
 199742: nan,
 167675: ['100%', '24%'],
 151241: ['61%', '39%'],
 154667: ['36%', '64%'],
 164269: ['38%', '62%'],
 159366: ['26%', '74%'],
 162874: ['28%', '72%'],
 158180: ['45%', '55%'],
 167638: ['42%', '58%'],
 180209: ['37%', '63%'],
 161834: ['50%', '50%'],
 172454: ['54%', '46%'],
 158112: ['43%', '57%'],
 167651: ['45%', '55%'],
 164192: ['55%', '45%'],
 171744: nan,
 143422: ['25%', '75%'],
 130811: ['100%', '9%'],
 195980: nan,
 168749: ['41%', '59%'],
 142210: ['33%', '67%'],
 159892: ['44%', '56%'],
 164150: ['100%', '19%'],
 158191: ['50%', '50%'],
 194581: nan,
 142255: ['44%', '56%'],
 199262: nan,
 194416: nan,
 190313: nan,
 179338: ['100%', '30%'],
 190244: ['100%', '19%'],
 193100: nan,
 190341: nan,
 177332: ['33%', '67%'],
 188765: ['64%', '36%'],
 190723: nan,
 182348: ['42%', '58%'],
 194398: nan,
 181114: ['70%', '30%'],
 183854: ['55%', '45%'],
 191591: nan,
 186342: nan,
 200586: nan,
 198329: nan,
 202353: nan,
 191633: ['28%', '72%'],
 200582: nan,
 194723: nan,
 196525: nan,
 189141: ['40%', '60%'],
 192146: ['67%', '33%'],
 201218: nan,
 110026: nan,
 201669: nan,
 199869: nan,
 168972: nan,
 10676: ['56%', '44%'],
 196581: nan,
 200746: nan,
 185935: nan,
 194195: nan,
 164956: ['100%', '15%'],
 195757: nan,
 199236: nan,
 173418: nan,
 11003: nan,
 96984: ['50%', '50%'],
 95473: ['100%', '21%'],
 183839: nan,
 42869: nan,
 168019: ['24%', '76%'],
 159863: ['25%', '75%'],
 37370: nan,
 62341: nan,
 179399: ['50%', '50%'],
 185150: ['33%', '67%'],
 171455: ['50%', '50%'],
 180385: ['67%', '33%'],
 174530: ['25%', '75%'],
 198607: nan,
 200575: nan,
 199406: ['100%', '21%'],
 192898: nan,
 179307: ['29%', '71%'],
 177508: ['55%', '45%'],
 177400: nan,
 175393: ['49%', '51%'],
 189001: ['56%', '44%'],
 166092: ['55%', '45%'],
 193970: ['25%', '75%'],
 107204: nan,
 200784: nan,
 154672: ['21%', '79%'],
 190729: nan,
 191677: ['100%', '20%'],
 198749: nan,
 191585: ['73%', '27%'],
 194870: nan,
 200589: nan,
 180025: ['44%', '56%'],
 152385: ['51%', '49%'],
 153620: ['26%', '74%'],
 189104: nan,
 179879: nan,
 179875: ['72%', '28%'],
 198754: ['33%', '67%'],
 181704: ['39%', '61%'],
 199876: nan,
 199865: nan,
 193570: nan,
 192152: nan,
 11547: nan,
 167495: nan,
 188471: nan,
 159866: ['44%', '56%'],
 185933: ['46%', '54%'],
 202609: nan,
 191998: nan,
 199428: nan,
 195105: nan,
 207762: nan,
 189357: nan,
 159167: nan,
 192624: ['50%', '50%'],
 198414: nan,
 129407: nan,
 197283: nan,
 172118: ['27%', '73%'],
 181965: nan,
 192148: nan,
 193170: nan,
 178143: nan,
 193868: nan,
 196389: nan,
 155406: nan,
 150657: nan,
 30782: nan,
 191560: nan,
 52593: nan,
 162148: ['27%', '73%'],
 154508: ['31%', '69%'],
 168405: ['31%', '69%'],
 159805: ['43%', '57%'],
 187366: ['27%', '73%'],
 188874: nan,
 189260: ['45%', '55%'],
 56447: nan,
 182049: nan,
 193974: nan,
 191940: nan,
 187548: nan,
 188469: nan,
 164936: nan,
 193870: nan,
 140656: ['53%', '47%'],
 208974: nan,
 130708: nan,
 196978: nan,
 196808: nan,
 197281: nan,
 170860: ['100%', '24%'],
 192141: nan,
 168045: ['44%', '56%'],
 182360: ['34%', '66%'],
 96951: ['65%', '35%'],
 181381: ['55%', '45%'],
 179482: ['28%', '72%'],
 185838: ['56%', '44%'],
 178544: ['48%', '52%'],
 196570: ['100%', '27%'],
 195590: nan,
 155399: nan,
 195417: nan,
 195982: nan,
 180390: ['54%', '46%'],
 165828: nan,
 178526: ['51%', '49%'],
 154029: ['41%', '59%'],
 189000: ['50%', '50%'],
 181703: nan,
 76960: ['69%', '31%'],
 196380: nan,
 193686: nan,
 184520: nan,
 194884: nan,
 186614: nan,
 107072: nan,
 195431: nan,
 92001: nan,
 193173: nan,
 186613: ['33%', '67%'],
 102802: nan,
 172789: nan,
 212271: nan,
 192480: nan,
 74902: nan,
 187349: ['56%', '44%'],
 188057: nan,
 195092: nan,
 183110: ['58%', '42%'],
 179719: nan,
 186611: nan,
 194321: nan,
 209442: nan,
 85578: ['49%', '51%'],
 174807: ['41%', '59%'],
 175365: ['19%', '81%'],
 177975: ['100%', '25%'],
 154986: ['43%', '57%'],
 202670: nan,
 189961: nan,
 193833: nan,
 192486: nan,
 201657: nan,
 202535: nan,
 177510: ['64%', '36%'],
 190447: ['50%', '50%'],
 203213: nan,
 181046: ['20%', '80%'],
 159070: ['47%', '53%'],
 168508: nan,
 174294: ['64%', '36%'],
 164104: ['16%', '84%'],
 198774: nan,
 181541: nan,
 63850: nan,
 189537: ['61%', '39%'],
 197339: nan,
 177374: ['41%', '59%'],
 169078: ['38%', '62%'],
 172795: nan,
 181971: nan,
 186821: ['47%', '53%'],
 182355: ['62%', '38%'],
 182017: nan,
 185340: nan,
 194802: nan,
 194803: nan,
 191002: nan,
 193856: nan,
 190720: ['69%', '31%'],
 194318: nan,
 193488: nan,
 194726: nan,
 192481: nan,
 174808: nan,
 192027: nan,
 193921: nan,
 176306: ['66%', '34%'],
 74407: ['79%', '21%'],
 191918: nan,
 181695: nan,
 189712: ['100%', '22%'],
 193828: nan,
 12781: nan,
 190806: nan,
 193827: nan,
 193079: nan,
 199586: nan,
 177509: ['56%', '44%'],
 127858: ['33%', '67%'],
 24008: nan,
 39640: ['31%', '69%'],
 83410: nan,
 193862: nan,
 191759: nan,
 35012: nan,
 193124: nan,
 183876: ['55%', '45%'],
 191518: nan,
 185131: ['29%', '71%'],
 171540: nan,
 191916: nan,
 172113: ['57%', '43%'],
 175318: ['67%', '33%'],
 192361: nan,
 140648: nan,
 191686: nan,
 30775: nan,
 146534: ['50%', '50%'],
 165022: ['56%', '44%'],
 154419: ['29%', '71%'],
 34090: nan,
 193864: nan,
 191923: nan,
 182387: ['26%', '74%'],
 189053: ['55%', '45%'],
 190026: ['22%', '78%'],
 187318: nan,
 191641: nan,
 191913: nan,
 182046: nan,
 173653: ['46%', '54%'],
 179430: ['48%', '52%'],
 132946: ['36%', '64%'],
 19302: nan,
 130267: nan,
 57412: nan,
 103774: nan,
 18782: nan,
 189112: nan,
 191932: nan,
 164172: ['42%', '58%'],
 180381: ['23%', '77%'],
 188761: nan,
 170475: nan,
 193863: nan,
 189971: nan,
 182205: ['46%', '54%'],
 175404: ['44%', '56%'],
 168725: nan,
 190597: nan,
 180374: ['24%', '76%'],
 177381: ['51%', '49%'],
 171515: nan,
 174797: ['50%', '50%'],
 189111: ['41%', '59%'],
 49230: nan,
 198564: nan,
 189049: nan,
 182014: ['44%', '56%'],
 188056: ['38%', '62%'],
 175316: ['45%', '55%'],
 164968: ['100%', '25%'],
 164155: ['38%', '62%'],
 201288: nan,
 187828: nan,
 185272: nan,
 172458: nan,
 157052: nan,
 154298: ['80%', '20%'],
 142266: ['41%', '59%'],
 206634: nan,
 189670: nan,
 191613: nan,
 172392: nan,
 201959: nan,
 179158: ['38%', '62%'],
 187526: ['40%', '60%'],
 192608: nan,
 184915: nan,
 188990: nan,
 142699: ['50%', '50%'],
 104283: nan,
 179976: nan,
 182084: nan,
 188045: nan,
 196950: nan,
 190004: nan,
 203220: nan,
 192611: nan,
 174301: ['49%', '51%'],
 189337: nan,
 150637: ['56%', '44%'],
 140696: ['49%', '51%'],
 181912: ['32%', '68%'],
 168086: ['21%', '79%'],
 179975: nan,
 168044: nan,
 99470: nan,
 171750: ['86%', '14%'],
 167374: ['40%', '60%'],
 192483: nan,
 169241: nan,
 192482: nan,
 86137: nan,
 162173: ['43%', '57%'],
 146506: ['46%', '54%'],
 121303: ['100%', '0%'],
 137008: ['49%', '51%'],
 154112: ['50%', '50%'],
 134895: ['40%', '60%'],
 144280: ['41%', '59%'],
 146469: ['46%', '54%'],
 127382: ['49%', '51%'],
 142384: ['46%', '54%'],
 146530: ['29%', '71%'],
 142459: nan,
 143473: ['50%', '50%'],
 142304: ['57%', '43%'],
 175040: ['36%', '64%'],
 13895: nan,
 174627: ['25%', '75%'],
 144266: ['60%', '40%'],
 172805: nan,
 194730: nan,
 193601: nan,
 154270: ['58%', '42%'],
 187336: nan,
 168013: nan,
 168042: nan,
 149059: ['58%', '42%'],
 164139: ['55%', '45%'],
 10922: ['39%', '61%'],
 39893: nan,
 167603: nan,
 179866: nan,
 181210: nan,
 56631: nan,
 10062: nan,
 180026: nan,
 146508: ['29%', '71%'],
 160721: ['43%', '57%'],
 141206: ['37%', '63%'],
 157974: ['57%', '43%'],
 63969: ['100%', '27%'],
 58333: nan,
 99664: nan,
 168298: ['48%', '52%'],
 38823: nan,
 140652: ['46%', '54%'],
 168069: nan,
 83214: nan,
 163711: nan,
 186402: nan,
 179327: nan,
 193041: nan,
 146524: ['50%', '50%'],
 153652: ['45%', '55%'],
 120165: ['35%', '65%'],
 172085: nan,
 200404: nan,
 41350: nan,
 74315: nan,
 93728: nan,
 167105: ['53%', '47%'],
 91073: nan,
 76080: nan,
 82906: nan,
 164173: ['39%', '61%'],
 165748: ['48%', '52%'],
 84899: nan,
 110246: nan,
 182163: nan,
 159716: ['26%', '74%'],
 164151: ['45%', '55%'],
 92536: nan,
 10101: ['25%', '75%'],
 148946: ['14%', '86%'],
 159877: ['43%', '57%'],
 155716: ['50%', '50%'],
 173103: nan,
 168083: nan,
 47115: nan,
 30317: nan,
 186603: nan,
 72930: nan,
 182045: nan,
 175792: nan,
 159848: ['46%', '54%'],
 159146: nan,
 145292: ['54%', '46%'],
 186092: nan,
 167099: ['57%', '43%'],
 92125: ['83%', '17%'],
 192479: nan,
 184234: nan,
 183286: nan,
 184233: nan,
 177943: nan,
 65290: nan,
 53065: nan,
 144215: ['52%', '48%'],
 184239: nan,
 192478: nan,
 171024: nan,
 31801: ['38%', '62%'],
 154625: ['49%', '51%'],
 168172: ['54%', '46%'],
 159747: ['24%', '76%'],
 37853: nan,
 37919: nan,
 83528: ['50%', '50%'],
 172798: ['23%', '77%'],
 161944: nan,
 169899: ['50%', '50%'],
 160009: ['52%', '48%'],
 148773: nan,
 39399: nan,
 140072: nan,
 179840: ['17%', '83%'],
 162265: ['25%', '75%'],
 75744: ['41%', '59%'],
 42841: nan,
 72337: nan,
 154981: ['52%', '48%'],
 146566: ['51%', '49%'],
 159827: ['47%', '53%'],
 175727: ['21%', '79%'],
 162423: ['54%', '46%'],
 159670: ['33%', '67%'],
 172040: ['63%', '37%'],
 159731: ['29%', '71%'],
 167107: ['22%', '78%'],
 75378: ['20%', '80%'],
 172031: nan,
 54970: ['33%', '67%'],
 163363: nan,
 159894: ['36%', '64%'],
 177277: nan,
 18419: nan,
 172770: nan,
 192477: nan,
 184237: nan,
 153580: ['61%', '39%'],
 181104: ['73%', '27%'],
 184323: nan,
 142739: ['48%', '52%'],
 99752: ['50%', '50%'],
 167787: ['21%', '79%'],
 159311: ['32%', '68%'],
 184216: nan,
 180907: nan,
 192476: nan,
 170851: nan,
 192473: nan,
 192630: nan,
 192475: nan,
 192474: nan,
 177771: nan,
 154653: ['21%', '79%'],
 163533: ['50%', '50%'],
 152686: nan,
 172341: nan,
 164106: ['49%', '51%'],
 152274: nan,
 152680: ['70%', '30%'],
 167602: ['28%', '72%'],
 113129: nan,
 98214: nan,
 183108: nan,
 179900: nan,
 184202: nan,
 159342: nan,
 165638: nan,
 184303: nan,
 210874: nan,
 165637: nan,
 159341: nan,
 85140: nan,
 103577: nan,
 136547: nan,
 121799: nan,
 16707: nan,
 88431: nan,
 152344: ['59%', '41%'],
 192472: nan,
 182599: nan,
 182051: nan,
 190056: nan,
 163817: nan,
 173833: ['42%', '58%'],
 137011: nan,
 158117: nan,
 99700: nan,
 121034: nan,
 181295: nan,
 111991: nan,
 107365: nan,
 144983: nan,
 168068: nan,
 43310: nan,
 182047: nan,
 171531: nan,
 157297: ['58%', '42%'],
 172420: ['40%', '60%'],
 181926: nan,
 152669: ['100%', '29%'],
 154437: ['28%', '72%'],
 179317: nan,
 182057: nan,
 163744: ['100%', '17%'],
 140010: ['37%', '63%'],
 170581: nan,
 168026: nan,
 179871: nan,
 182729: nan,
 153687: ['53%', '47%'],
 96967: nan,
 134880: nan,
 192471: nan,
 175362: nan,
 111574: nan,
 173884: ['33%', '67%'],
 179012: nan,
 167697: ['42%', '58%'],
 179097: nan,
 176622: ['100%', '9%'],
 167056: nan,
 172980: ['75%', '25%'],
 178054: nan,
 182005: nan,
 143416: ['37%', '63%'],
 171475: nan,
 156417: ['29%', '71%'],
 153279: ['22%', '78%'],
 145342: nan,
 178097: ['41%', '59%'],
 172752: nan,
 127394: nan,
 165321: ['26%', '74%'],
 126133: nan,
 92530: nan,
 149730: nan,
 158652: ['33%', '67%'],
 174596: nan,
 132631: nan,
 145805: nan,
 176733: nan,
 49862: nan,
 113340: nan,
 127461: nan,
 181574: nan,
 177134: nan,
 172447: nan,
 155715: ['39%', '61%'],
 159830: ['61%', '39%'],
 199864: nan,
 158124: nan,
 89009: nan,
 168059: ['40%', '60%'],
 182513: nan,
 177397: nan,
 178751: nan,
 195681: ['50%', '50%'],
 179868: nan,
 168479: ['100%', '11%'],
 176902: nan,
 171538: nan,
 168018: nan,
 192470: nan,
 31234: nan,
 142324: ['62%', '38%'],
 156091: ['50%', '50%'],
 175099: nan,
 148847: nan,
 180005: nan,
 182597: nan,
 157500: ['20%', '80%'],
 133129: ['47%', '53%'],
 140731: ['58%', '42%'],
 172167: nan,
 172769: nan,
 113624: nan,
 109906: ['51%', '49%'],
 171490: ['28%', '72%'],
 163846: nan,
 47174: nan,
 167581: nan,
 178096: nan,
 169218: nan,
 128293: nan,
 133424: ['40%', '60%'],
 172771: nan,
 191370: nan,
 57723: ['58%', '42%'],
 36344: nan,
 58085: nan,
 35628: nan,
 32610: nan,
 48747: nan,
 66510: nan,
 191367: nan,
 37235: nan,
 34501: nan,
 73285: nan,
 89873: nan,
 146407: ['67%', '33%'],
 35939: ['50%', '50%'],
 37261: nan,
 49529: nan,
 121090: ['43%', '57%'],
 91391: nan,
 35938: nan,
 89606: nan,
 34971: nan,
 36451: nan,
 62566: nan,
 158885: ['16%', '84%'],
 50932: nan,
 152656: ['45%', '55%'],
 30037: nan,
 36956: nan,
 65429: nan,
 39422: nan,
 66002: nan,
 136893: ['39%', '61%'],
 35172: nan,
 88227: ['69%', '31%'],
 40033: nan,
 39482: nan,
 58018: nan,
 41705: nan,
 30984: nan,
 52375: nan,
 143402: ['55%', '45%'],
 83268: nan,
 143937: nan,
 45416: nan,
 51076: nan,
 149512: ['51%', '49%'],
 55405: nan,
 158692: nan,
 164966: nan,
 192469: nan,
 172970: nan,
 151196: ['29%', '71%'],
 158631: ['47%', '53%'],
 179746: nan,
 156910: nan,
 146489: ['25%', '75%'],
 178856: nan,
 74650: nan,
 169666: nan,
 172488: nan,
 162853: nan,
 168039: nan,
 158700: nan,
 178416: nan,
 143373: ['29%', '71%'],
 145376: nan,
 191581: nan,
 143460: ['41%', '59%'],
 192468: nan,
 178456: ['38%', '62%'],
 152268: nan,
 110333: ['63%', '37%'],
 168036: ['55%', '45%'],
 163812: nan,
 15530: nan,
 34316: nan,
 41118: nan,
 27540: nan,
 62787: nan,
 26940: nan,
 42173: nan,
 172799: nan,
 152249: ['56%', '44%'],
 92079: nan,
 185267: ['47%', '53%'],
 181286: ['82%', '18%'],
 165461: ['42%', '58%'],
 152183: ['46%', '54%'],
 164102: ['25%', '75%'],
 160720: nan,
 152486: ['13%', '87%'],
 155228: ['60%', '40%'],
 156930: nan,
 147835: ['100%', '27%'],
 172188: nan,
 10006: nan,
 101966: ['40%', '60%'],
 47528: nan,
 66463: nan,
 45649: nan,
 149516: ['22%', '78%'],
 134899: ['36%', '64%'],
 151117: ['27%', '73%'],
 138601: ['22%', '78%'],
 147368: nan,
 161850: ['37%', '63%'],
 58088: nan,
 130787: ['57%', '43%'],
 36727: nan,
 34322: nan,
 10852: nan,
 16846: nan,
 92877: nan,
 60789: nan,
 75882: nan,
 165830: nan,
 169650: nan,
 41613: nan,
 73799: nan,
 137887: nan,
 60484: nan,
 17416: nan,
 29354: nan,
 38281: nan,
 175470: nan,
 199878: nan,
 10245: nan,
 168244: nan,
 201339: nan,
 178454: nan,
 100205: ['57%', '43%'],
 170794: nan,
 158664: nan,
 152628: nan,
 174933: nan,
 16516: nan,
 112014: nan,
 123613: nan,
 127378: ['22%', '78%'],
 164946: nan,
 157532: nan,
 181927: nan,
 146231: nan,
 164277: nan,
 158092: nan,
 152692: nan,
 47494: nan,
 144130: ['27%', '73%'],
 154273: ['88%', '12%'],
 117400: nan,
 176596: nan,
 171483: nan,
 85579: ['45%', '55%'],
 74689: nan,
 175092: nan,
 116233: ['57%', '43%'],
 175111: nan,
 184215: nan,
 190718: nan,
 28581: nan,
 174919: nan,
 12780: nan,
 167389: nan,
 37838: nan,
 88225: nan,
 194372: nan,
 194871: nan,
 162854: ['29%', '71%'],
 173828: nan,
 166463: ['100%', '25%'],
 168010: nan,
 206029: nan,
 180335: nan,
 173213: nan,
 170798: nan,
 163832: ['25%', '75%'],
 162963: nan,
 44911: ['41%', '59%'],
 168746: nan,
 178458: nan,
 140647: ['54%', '46%'],
 171485: nan,
 171536: nan,
 153651: ['52%', '48%'],
 171493: nan,
 174342: nan,
 30056: nan,
 26821: nan,
 174343: nan,
 164918: nan,
 47429: nan,
 164719: ['32%', '68%'],
 15919: nan,
 157340: nan,
 152694: ['41%', '59%'],
 172841: nan,
 172844: nan,
 152646: ['100%', '23%'],
 10651: nan,
 58538: nan,
 16494: nan,
 167733: nan,
 10469: nan,
 146415: nan,
 172833: nan,
 155420: nan,
 129098: nan,
 163824: ['100%', '26%'],
 158861: nan,
 172824: nan,
 144944: ['59%', '41%'],
 178452: nan,
 156565: ['67%', '33%'],
 187981: nan,
 188909: ['59%', '41%'],
 154236: nan,
 143409: ['32%', '68%'],
 98901: nan,
 167743: nan,
 124227: nan,
 154206: ['29%', '71%'],
 134811: nan,
 153964: ['66%', '34%'],
 144379: ['31%', '69%'],
 127374: ['64%', '36%'],
 172475: nan,
 169651: nan,
 158854: nan,
 65722: nan,
 167311: nan,
 137890: ['54%', '46%'],
 156461: nan,
 172074: nan,
 155256: ['60%', '40%'],
 181949: nan,
 167061: nan,
 158632: nan,
 163813: nan,
 168551: ['33%', '67%'],
 168931: nan,
 159798: nan,
 151746: nan,
 171512: nan,
 159156: nan,
 157178: ['56%', '44%'],
 182578: ['56%', '44%'],
 152243: nan,
 171037: nan,
 194471: nan,
 164939: nan,
 124025: ['51%', '49%'],
 125802: ['41%', '59%'],
 144272: nan,
 129406: ['36%', '64%'],
 144943: ['48%', '52%'],
 160115: nan,
 40133: nan,
 149122: nan,
 144958: ['83%', '17%'],
 124205: ['50%', '50%'],
 158886: nan,
 119966: ['43%', '57%'],
 45921: nan,
 97693: nan,
 129051: ['51%', '49%'],
 144188: ['100%', '31%'],
 106522: ['39%', '61%'],
 140226: nan,
 107374: ['43%', '57%'],
 149027: ['100%', '21%'],
 124041: ['50%', '50%'],
 142242: ['45%', '55%'],
 115366: ['34%', '66%'],
 71705: nan,
 127397: ['61%', '39%'],
 103760: ['52%', '48%'],
 132627: ['32%', '68%'],
 151751: ['52%', '48%'],
 147035: nan,
 160116: nan,
 167577: nan,
 154252: nan,
 156561: nan,
 121052: ['23%', '77%'],
 140064: ['50%', '50%'],
 165791: ['25%', '75%'],
 172774: nan,
 158697: nan,
 125448: nan,
 143431: nan,
 167650: nan,
 73583: nan,
 89745: nan,
 33536: nan,
 51172: nan,
 83404: nan,
 150198: ['54%', '46%'],
 165762: nan,
 166524: nan,
 158871: nan,
 167103: ['22%', '78%'],
 191597: ['48%', '52%'],
 146517: ['58%', '42%'],
 140792: nan,
 158889: nan,
 170497: nan,
 158910: ['40%', '60%'],
 137875: ['49%', '51%'],
 113343: nan,
 18898: nan,
 147056: nan,
 140288: nan,
 151715: ['26%', '74%'],
 14561: nan,
 142251: ['33%', '67%'],
 159785: nan,
 154467: nan,
 170419: nan,
 162217: nan,
 162877: nan,
 146485: ['58%', '42%'],
 47384: nan,
 163420: nan,
 142803: ['43%', '57%'],
 44913: ['61%', '39%'],
 123519: ['42%', '58%'],
 154214: ['44%', '56%'],
 115504: ['42%', '58%'],
 140695: ['51%', '49%'],
 154253: nan,
 168092: ['43%', '57%'],
 163861: nan,
 ...}

In [27]:
audience_df = audience_df.iloc[:, :-1]

In [28]:
temp_df = pd.DataFrame(columns=['code', 'num_per_genders'])
temp_df['code'] = audience_genders.keys()
temp_df['num_per_genders'] = audience_genders.values()

audience_df = pd.merge(audience_df, temp_df, how='outer', on='code')

C:\Users\Las\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [29]:
audience_df

,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN
1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,NaN
2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","[58%, 42%]"
3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,NaN
1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,NaN
1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]",NaN
1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,NaN
1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
audience_df.isna().sum()

code                  0
korean_title          0
num_of_audience    1230
key_review         1230
score_male         1230
score_female       1230
scores_per_age     1230
num_per_genders    1398
dtype: int64

- csv로 저장

In [31]:
# audience_df.to_csv('../data/crawling_audience_review.csv', sep=',', encoding='utf-8-sig')

In [32]:
audience_review_loaded_df = pd.read_csv('../data/crawling_audience_review.csv')
audience_review_loaded_df

,Unnamed: 0,code,korean_title,num_of_audience,key_review,score_male,score_female,scores_per_age,num_per_genders
0,0,203096,걸스 오브 막시,NaN,NaN,NaN,NaN,NaN,NaN
1,1,17997,첨밀밀,NaN,NaN,NaN,NaN,NaN,NaN
2,2,181925,클로젯,387,이 영화는 20대 여성이 좋아하는 연기가 뛰어난 영화입니다.,7.93,8.41,"[8.75, 7.75, 8.17, 8.79, 8.63]","['58%', '42%']"
3,3,195979,비밀경찰: 랍스터 캅,NaN,NaN,NaN,NaN,NaN,NaN
4,4,138113,매직 아워,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1819,1819,72043,쓰리 데이즈,NaN,NaN,NaN,NaN,NaN,NaN
1820,1820,77566,브레이킹 던 part2,NaN,NaN,NaN,NaN,NaN,NaN
1821,1821,38227,첫 키스만 50번째,177,이 영화는 20대 남성이 좋아하는 스토리가 뛰어난 영화입니다.,9.35,9.08,"[9.78, 9.08, 9.7, 9.0, 9.12]",NaN
1822,1822,74567,브레이킹 던 part1,NaN,NaN,NaN,NaN,NaN,NaN
1823,1823,38572,완벽한 그녀에게 딱 한가지 없는 것,NaN,NaN,NaN,NaN,NaN,NaN

# 연습 공간

In [ ]:
point_url = get_point_url(CODE)
netizen_elements = html_selector(point_url, '.grade_audience > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
score = netizen_elements[0].attrs['style'].split(':')[1]
num_netizen = html_selector(point_url, '.grade_audience > .title_area.grade_tit > .sc_area > .user_count > em')[0].text

In [ ]:
netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[1].text
netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[1].text

In [ ]:
score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[5:]]

In [ ]:
def get_netizen_info(code):
    try:
        point_url = get_point_url(code)
        netizen_elements = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
        score = netizen_elements[0].attrs['style'].split(':')[1]
    except:
        return 'error'

    num_netizen = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .user_count > em')[0].text
    key_review = html_selector(point_url, '.grp_review')[0].text
    netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[0].text
    netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[0].text
    score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')[:5]]
    
    return {'code': code, 'num_of_netizen': num_netizen, 'key_review': key_review, 'score_male': netizen_male, 'score_female': netizen_female, 'scores_per_age': score_list}

In [ ]:
point_url = html_parser(BASE_URL + POINT_SEARCH + str(31307))
netizen_elements = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .star_score > .st_off > .st_on')
# netizen_score = html_selector(netizen_elements, '.star_score > .st_off > .st_on')
score = netizen_elements[0].attrs['style'].split(':')[1]
num_netizen = html_selector(point_url, '.grade_netizen > .title_area.grade_tit > .sc_area > .user_count > em')[0].text

In [ ]:
key_review = html_selector(point_url, '.grp_review')[0].text

In [ ]:
netizen_male = html_selector(point_url, '.grp_gender > .grp_box > .grp_male > .graph_point')[0].text
netizen_female = html_selector(point_url, '.grp_gender > .grp_box > .grp_female > .graph_point')[0].text

In [ ]:
score_list = [float(element.text) for element in html_selector(point_url, '.grp_age > .grp_box > .graph_point')]
score_list

In [ ]:
# example: google search
# driver.get("http://www.google.com")
# input_element = driver.find_element_by_name("q")
# input_element.send_keys("python")
# input_element.submit()

In [ ]:
search_title = 'kingsman'
search_html = html_parser(BASE_URL + SEARCH + search_title)
search_result = html_selector(search_html, '.search_list_1 > li')
result = str(search_result[0].select('dl > dt > a'))
movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
code = movie_url.split('=')[1]

basic_html = html_parser(BASE_URL + movie_url)

search_result = html_selector(basic_html, 'h3.h_movie > a')
title = str(search_result[0]).split('>')[1].split('<')[0]

movie_result = html_selector(basic_html, 'dl.info_spec > dd')
temp_summary = movie_result[0].select('a')
director = movie_result[1].text
actors = movie_result[2].text.split(',')

In [ ]:
print(code, title, temp_summary, director, actors)

In [ ]:
genre = list()
nation = list()
released = list()

In [ ]:
for summary in temp_summary:
    c = summary.attrs['href'].split(".naver?")[1].split('=')[0]
    if c == 'genre':
        genre.append(summary.text)
    elif c == 'nation':
        nation.append(summary.text)
    elif c == 'open':
        released.append(summary.text)
    else:
        print(c)

In [ ]:
genre, nation, released

In [ ]:
''.join(released)

In [ ]:
movie_df

In [ ]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=스파이더맨"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
search_result_list = soup.select(
    '.search_list_1 > li'
    )
temp = str(search_result_list[0].select('dl > dt > a'))

In [ ]:
temp.split("href=")[1].split(">")[0].replace('"', '')

In [ ]:
def search_naver_movie(title):
    req = requests.get(BASE_URL + SEARCH + title)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    search_result_list = soup.select('.search_list_1 > li')
    result = str(search_result_list[0].select('dl > dt > a'))
    movie_url = result.split("href=")[1].split(">")[0].replace('"', '')
    
    req = requests.get(BASE_URL + movie_url)
    html = req.text

In [ ]:
# movie_data_set = {'code': 0, 'title': '', 'genre_list': [], 'country': [], 'runtime': '', 'released_date': '', 'director': '', 'actors': []}

In [ ]:
movie_df # -> korean title, english title

In [ ]:
netizen_df

In [ ]:
audience_df # -> 영민님이 말씀하신 부분 추가

In [ ]:
temp_summary[0]

In [ ]:
list(map(lambda x: x.text, list(temp_summary)))

In [ ]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=트랜스포머"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
my_titles = soup.select(
    '.search_list_1 > li'
    )
my_titles[0].select('dl > dt > a')

In [ ]:
BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=시월애"
req = requests.get(BASE_URL)
html = req.text
soup = BeautifulSoup(html, 'html.parser')
# CSS Selector를 통해 html요소들을 찾아낸다.
my_titles = soup.select(
    '.search_list_1 > li'
    )
my_titles[0].select('dl > dt > a')

In [ ]:
driver = webdriver.Chrome(executable_path='./chromedriver')
driver.get(BASE_URL)
input_element = driver.find_element_by_class_name("search_list_1")
print(input_element.text)

In [ ]:
def search_naver_movie(title):
    BASE_URL = "https://movie.naver.com/movie/search/result.naver?query=스파이더맨"
    req = requests.get(BASE_URL)
    html = req.text
    soup = BeautifulSoup(html, 'html.parser')
    # CSS Selector를 통해 html요소들을 찾아낸다.
    search_result_list = soup.select(
        '.search_list_1 > li'
        )
    search_result_list[0]